title = "My Profile"
url = "/email-template/complete-payment-unlock"
layout = "default"

[session]
redirect = "home"
==
<section class="page-noh">
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-md-10 col-lg-8">
                <!-- Step 1 -->
                <div class="deposit-form">
                    <div class="title-list mb-2">Upload Your Receipt to Confirm Your Payment</div>
                    <p class="mb-5">Please upload your receipt to confirm your payment in jpg or png format with a maximum size of 1 MB.</p>
                    <div class="group-li mb-3">
                        <label for="">Receipt</label>
                        <div class="position-relative">
                            <input type="tex" name="" class="form-control form-th" placeholder="Max. 2 mb (pdf or jpeg)">
                            <div class="btn btn-outline-primary btn-mark w-auto ms-1 marked-certi">
                                <span>Upload Receipt (Max. 1mb)</span>
                                <span class="checked">Contract Uploaded!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group-li mb-3">
                                <label for="">Payment Method</label>
                                <div class=" multiple-select">
                                    <select class="form-select form-th custom-select2 select-creatable"
                                        data-handler="companyAccount::onSearchBenefitTag"
                                        data-minimum-input-length="2"
                                        data-ajax--delay="300"
                                        data-placeholder="Choose Your Payment Method"
                                        name="benefits[]"
                                        >
                                        {% if value %}
                                            <option selected value="{{ value }}">{{ text }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group-li mb-3">
                                <label for="">Account Name</label>
                                <input type="text" name="" class="form-control form-th" placeholder="Your Bank Account Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group-li mb-3">
                                <label for="">From (Bank)</label>
                                <input type="text" name="" class="form-control form-th" placeholder="Choose Your Bank">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group-li mb-3">
                                <label for="">Destination Bank</label>
                                <div class=" multiple-select">
                                    <select class="form-select form-th custom-select2 select-creatable"
                                        data-handler="companyAccount::onSearchBenefitTag"
                                        data-minimum-input-length="2"
                                        data-ajax--delay="300"
                                        data-placeholder="Choose Destination Bank"
                                        name="benefits[]"
                                        >
                                        {% if value %}
                                            <option selected value="{{ value }}">{{ text }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group-li mb-3">
                                <label for="">Payment Date</label>
                                <label class="form-date" for="">
                                    <i data-feather="calendar"></i>
                                    <input type="text" name="user[birth_date]" required value="{% if user.birth_date %}{{ user.birth_date|date('d/m/Y') }}{% endif %}" class="form-control form-th datepicker" data-enddate="" data-startview="" placeholder="Your Payment Date" id="">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group-li mb-3">
                                <label for="">Total Payment</label>
                                <input type="text" name="" class="form-control form-th" placeholder="Your Total Payment">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <label for="">Invoice Number</label>
                                <input type="text" name="" class="form-control form-th" placeholder="Your Invoice Number">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <label for="">Note</label>
                                <textarea class="form-control form-th" rows="4" name="" placeholder="Your Note"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4">
                            <a href="#" class="btn btn-yellow w-100 py-2">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $( function() {
        $( ".btn-mark" ).click( function() {
          $( this ).toggleClass( "marked" );
        });
    });
</script>
