title = "Update CV"
url = "email-template/edit-cv"
layout = "default"

[session]
security = "user"
allowedUserGroups[] = "hero"
redirect = "home"

[master]
==
function onEnd()
{
    $this->user->load(['educations', 'certificates',
        'certificates.doc', 'nonformal_educations',
        'organizations', 'working_exps', 'working_exps.projects',
        'lang_skills', 'lang_skills.ref', 'lang_skills.level',
        'skills', 'skills.ref', 'skills.level']);
}
==
<section class="page-noh">
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-md-10 col-lg-8">
                <!-- {% flash error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endflash %} -->
                <form
                    id="form-cv"
                    data-request="heroAccount::onSaveCV"
                    data-request-redirect="my-cv"
                    data-request-flash
                    data-request-files
                    data-browser-validate
                    enctype="multipart/form-data"
                >
                    <nav>
                      <div class="nav nav-tabs tabs-th" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-biodata-tab" data-bs-toggle="tab" data-bs-target="#nav-biodata" type="button" role="tab" aria-controls="nav-biodata" aria-selected="true">Biodata</button>
                        <button class="nav-link" id="nav-address-info-tab" data-bs-toggle="tab" data-bs-target="#nav-address-info" type="button" role="tab" aria-controls="nav-address-info" aria-selected="false">Address & Formal Info</button>
                        <button class="nav-link" id="nav-education-tab" data-bs-toggle="tab" data-bs-target="#nav-education" type="button" role="tab" aria-controls="nav-education" aria-selected="false">Education</button>
                        <button class="nav-link" id="nav-working-experience-tab" data-bs-toggle="tab" data-bs-target="#nav-working-experience" type="button" role="tab" aria-controls="nav-working-experience" aria-selected="false">Working Experience</button>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- Step 1 -->
                        <div class="tab-pane fade deposit-form container-steps show active" id="nav-biodata" role="tabpanel" aria-labelledby="nav-biodata-tab">
                            <div class="group-li">
                                <div class="change-pp change-pp-cv dropzone-box mt-2">
                                    <div class="view-box">
                                        <div class="preview-zone">
                                            <div class="box box-solid">
                                                <div class="box-body">
                                                    <img src="{{ 'assets/images/hero.jpg'|theme }}" alt="">
                                                    <!-- <img src="{{ user.avatar.getThumb(100, 100, {'quality': 80}) }}" alt="Avatar" /> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropzone-wrapper d-none">
                                        <div class="dropzone-desc">
                                            <div class="text-start">
                                                <span><i data-feather="upload"></i> {{ 'Upload Your Photo</span>
                                                <p>formal photo (upper torso) with JPEG or PNG format maximum 2mb</p>
                                            </div>
                                        </div>
                                        <input type="file" name="avatar" class="dropzone" accept="image/*">
                                    </div>
                                    <div class="dropzone-action">
                                        <!-- <span class="text-darkblue"><i data-feather="check-circle"></i> {{ 'Photo Uploaded</span> -->
                                        <span class="text-dark">seb_formal_photo.jpeg</span>
                                        <div class="d-inline-flex mt-3">
                                            <a href="#" onclick="$('.dropzone').click()" class="btn btn-outline-primary btn-sm me-2 fs-14">Change Photo</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-danger  btn-sm  fs-14 remove-preview">Delete Photo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="group-li mb-3">
                                <label for="">Name</label>
                                <input type="text" name="user[name]" value="{{ user.name }}" required class="form-control form-th" placeholder="Your Name">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Email</label>
                                        <input type="text" name="user[email]" required value="{{ user.email }}" class="form-control form-th" placeholder="Your active Email (for work or formal uses)">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Phone</label>
                                        <label class="form-date form-phone">
                                            <span>+62</span>
                                            <input type="text" name="user[phone]" required value="{{ user.phone }}" class="form-control form-th" placeholder="Your active Phone Number">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="group-li">
                                <label for="">About You</label>
                                <textarea class="form-control form-th input-count" data-count="#about_count" required rows="4" placeholder="Introduce yourself" name="user[about]" maxlength="240">{{ user.about }}</textarea>
                            </div>
                            <div class="text-end mb-1">
                                <span class="forgot-pass" id="about_count">{{ user.about|length }}/240</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Place of Birth</label>
                                        <input type="text" name="user[birth_place]" required value="{{ user.birth_place }}" class="form-control form-th" placeholder="Your birth place">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Date of Birth</label>
                                        <label class="form-date" for="user_birth_date">
                                            <i data-feather="calendar"></i>
                                            <input type="text" name="user[birth_date]" required value="{% if user.birth_date %}{{ user.birth_date|date('d/m/Y') }}{% endif %}" class="form-control form-th datepicker" data-enddate="-10y" data-startview="years" placeholder="Your birthdate" id="user_birth_date">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="group-li mb-3">
                                <label for="">Gender</label>
                                <div class="select-th">
                                    <label for="male">
                                        <input type="radio" name="user[gender]" required id="male" value="M" {% if user.gender == 'M' %} checked {% endif %}>
                                        <span>Male</span>
                                    </label>
                                    <label for="female">
                                        <input type="radio" name="user[gender]" id="female" value="F" {% if user.gender == 'F' %} checked {% endif %}>
                                        <span>Female</span>
                                    </label>
                                </div>
                            </div>
                            <div class="group-li mb-3">
                                <label for="">ID Card</label>
                                <input type="text" name="user[id_number]" required value="{{ user.id_number }}" class="form-control form-th" placeholder="Your ID Card Number">
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <a href="#" class="btn btn-primary w-100 py-2 btn-next" data-next="#step2">Next</a>
                                </div>
                            </div>
                        </div>

                        <!-- Step 2 -->
                        <div class="tab-pane fade deposit-form container-steps" id="nav-address-info" role="tabpanel" aria-labelledby="nav-address-info-tab">
                            <div class="group-li mb-3">
                                <label for="">Permanent Address (based on ID Card)</label>
                                <textarea class="form-control form-th" rows="4" name="user[address]" required placeholder="Your Permanent Address">{{ user.address }}</textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Province (based on ID Card)</label>
                                        <select name="user[province_code]" id=""
                                            class="form-select form-th custom-select2"
                                            data-handler="master::onSearchLocation"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your Province</option>
                                            {% if user.province_code %}
                                                <option selected value="{{ user.province_code }}">{{ user.province.name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">City (based on ID Card)</label>
                                        <select name="user[city_code]" id=""
                                            class="form-select form-th custom-select2"
                                            {% if not user.city_code %} disabled {% endif %}
                                            data-handler="master::onSearchLocation"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your City</option>
                                            {% if user.city_code %}
                                                <option selected value="{{ user.city_code }}">{{ user.city.name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">District (based on ID Card)</label>
                                        <select name="user[district_code]" id=""
                                            class="form-select form-th custom-select2"
                                            {% if not user.district_code %} disabled {% endif %}
                                            data-handler="master::onSearchLocation"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your District</option>
                                            {% if user.district_code %}
                                                <option selected value="{{ user.district_code }}">{{ user.district.name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Village (based on ID Card)</label>
                                        <select name="user[village_code]" id=""
                                            class="form-select form-th custom-select2"
                                            {% if not user.village_code %} disabled {% endif %}
                                            data-handler="master::onSearchLocation"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your Village</option>
                                            {% if user.village_code %}
                                                <option selected value="{{ user.village_code }}">{{ user.village.name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="group-li mb-3">
                                <label for="">Current Address (Domicile)</label>
                                <textarea class="form-control form-th" rows="4" name="user[domicile_address]" placeholder="Current Address">{{ user.domicile_address }}</textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Province (Domicile)</label>
                                        <select name="user[domicile_province_code]" id=""
                                            class="form-select form-th custom-select2"
                                            data-handler="master::onSearchLocation"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your Province</option>
                                            {% if user.domicile_province_code %}
                                                <option selected value="{{ user.domicile_province_code }}">{{ user.domicile_province.name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">City (Domicile)</label>
                                        <select name="user[domicile_city_code]" id=""
                                            class="form-select form-th custom-select2"
                                            {% if not user.domicile_city_code %} disabled {% endif %}
                                            data-handler="master::onSearchLocation"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your City</option>
                                            {% if user.domicile_city_code %}
                                                <option selected value="{{ user.domicile_city_code }}">{{ user.domicile_city.name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">District (Domicile)</label>
                                        <select name="user[domicile_district_code]" id=""
                                            class="form-select form-th custom-select2"
                                            {% if not user.domicile_district_code %} disabled {% endif %}
                                            data-handler="master::onSearchLocation"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your District</option>
                                            {% if user.domicile_district_code %}
                                                <option selected value="{{ user.domicile_district_code }}">{{ user.domicile_district.name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Village (Domicile)</label>
                                        <select name="user[domicile_village_code]" id=""
                                            class="form-select form-th custom-select2"
                                            {% if not user.domicile_village_code %} disabled {% endif %}
                                            data-handler="master::onSearchLocation"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your Village</option>
                                            {% if user.domicile_village_code %}
                                                <option selected value="{{ user.domicile_village_code }}">{{ user.domicile_village.name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="group-li form-check mb-4">
                                <input class="form-check-input" type="checkbox" value="1" id="is_npwp" name="user[is_npwp]" {% if user.is_npwp %} checked {% endif %}>
                                <label class="form-check-label" for="is_npwp">
                                    Have NPWP?
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Nationality</label>
                                        <select name="user[ref_country_id]" id=""
                                            class="form-select form-th custom-select2"
                                            data-handler="master::onSearchNationality"
                                            data-minimum-input-length="2"
                                            data-ajax--delay="300"
                                            required
                                        >
                                            <option value="">Choose your Nationality</option>
                                            {% if user.ref_country_id %}
                                                <option selected value="{{ user.ref_country_id }}">{{ user.ref_country.nationality }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="group-li mb-3">
                                        <label for="">Status</label>
                                        <select name="user[ref_marital_status_id]" required id="" class="form-select form-th custom-select2">
                                            <option value="">Your marriage status</option>
                                            {% for status in master.maritalStatuses %}
                                                <option value="{{ status.id }}" {% if user.ref_marital_status_id == status.id %} selected {% endif %}>{{ status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <button type="button" class="btn btn-outline-secondary w-100 py-2 btn-prev" data-prev="#step1">Back</button>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-primary w-100 py-2 btn-next" data-next="#step3">Next</a>
                                </div>
                            </div>
                        </div>

                        <!-- Step 3 -->
                        <div class="tab-pane fade deposit-form container-steps" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
                            <div class="subtitle-list mb-3">Formal Education</div>
                            <div class="add-section">
                                <div id="educations-container">
                                {% if not user.educations %}
                                    {% partial 'myaccount/cv/form-item-education' %}
                                {% else %}
                                    {% for edu in user.educations %}
                                        {% partial 'myaccount/cv/form-item-education' education=edu %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <a href="#" class="btn btn-outline-secondary w-100 fs-14"
                                    data-request="heroAccount::onAddItem"
                                    data-request-update="'myaccount/cv/form-item-education': '@#educations-container'"
                                    data-request-success="refreshEle()"
                                ><i data-feather="plus-circle"></i> Add More Formal Education</a>
                            </div>
                            <div class="subtitle-list mb-3">Certification</div>
                            <div class="add-section">
                                <div id="certificates-container">
                                {% if not user.certificates %}
                                    {% partial 'myaccount/cv/form-item-certificate' %}
                                {% else %}
                                    {% for cert in user.certificates %}
                                        {% partial 'myaccount/cv/form-item-certificate' cert=cert %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <a href="#" class="btn btn-outline-secondary w-100 fs-14"
                                    data-request="heroAccount::onAddItem"
                                    data-request-update="'myaccount/cv/form-item-certificate': '@#certificates-container'"
                                    data-request-success="refreshEle()"><i data-feather="plus-circle"></i> Add More Certificate</a>
                            </div>
                            <div class="subtitle-list mb-3">Organization</div>
                            <div class="add-section">
                                <div id="organizations-container">
                                {% if not user.organizations %}
                                    {% partial 'myaccount/cv/form-item-organization' %}
                                {% else %}
                                    {% for org in user.organizations %}
                                        {% partial 'myaccount/cv/form-item-organization' organization=org %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <a href="#" class="btn btn-outline-secondary w-100 fs-14"
                                    data-request="heroAccount::onAddItem"
                                    data-request-update="'myaccount/cv/form-item-organization': '@#organizations-container'"
                                    data-request-success="refreshEle()"
                                    ><i data-feather="plus-circle"></i> Add More Organization</a>
                            </div>
                            <div class="subtitle-list mb-3">Language</div>
                            <div class="add-section">
                                <div id="lang-skills-container">
                                {% if not user.lang_skills %}
                                    {% partial 'myaccount/cv/form-item-lang-skill' %}
                                {% else %}
                                    {% for lang_skill in user.lang_skills %}
                                        {% partial 'myaccount/cv/form-item-lang-skill' langSkill=lang_skill %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <a href="#" class="btn btn-outline-secondary w-100 fs-14"
                                    data-request="heroAccount::onAddItem"
                                    data-request-update="'myaccount/cv/form-item-lang-skill': '@#lang-skills-container'"
                                    data-request-success="refreshEle()"
                                ><i data-feather="plus-circle"></i> Add More Language</a>
                            </div>
                            <div class="subtitle-list mb-3">Skills</div>
                            <div class="add-section">
                                <div id="skills-container">
                                {% if not user.skills %}
                                    {% partial 'myaccount/cv/form-item-skill' %}
                                {% else %}
                                    {% for skill in user.skills %}
                                        {% partial 'myaccount/cv/form-item-skill' skill=skill %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <a href="#" class="btn btn-outline-secondary w-100 fs-14" 
                                    data-request="heroAccount::onAddItem"
                                    data-request-update="'myaccount/cv/form-item-skill': '@#skills-container'"
                                    data-request-success="refreshEle()"><i data-feather="plus-circle"></i> Add More Skill</a>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <button type="button" class="btn btn-outline-secondary w-100 py-2 btn-prev" data-prev="#step2">Back</button>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-primary w-100 py-2 btn-next" data-next="#step4">Next</a>
                                </div>
                            </div>
                        </div>

                        <!-- Step 4 -->
                        <div class="tab-pane fade deposit-form container-steps" id="nav-working-experience" role="tabpanel" aria-labelledby="nav-working-experience-tab">
                            <div class="add-section-working-experience">
                                <div id="working-exps-container">
                                {% if not user.working_exps %}
                                    {% partial 'myaccount/cv/form-item-working-experience' key=0 %}
                                {% else %}
                                    {% for i, exp in user.working_exps %}
                                        {% partial 'myaccount/cv/form-item-working-experience' key=i experience=exp %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                            <a href="#" class="btn btn-outline-secondary w-100 fs-14"
                                data-increment="{{ user.working_exps.count() }}"
                            ><i data-feather="plus-circle"></i> Add More Working Experience</a>
                            <div class="row mt-5">
                                <div class="col">
                                    <button type="button" class="btn btn-outline-secondary w-100 py-2 btn-prev" data-prev="#step3">Back</button>
                                </div>
                                <div class="col">
                                    <button type="submit" data-attach-loading class="btn btn-yellow w-100 py-2">Complete Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


{% put scripts %}
<script type="text/javascript">
    $(document).on('click', '[data-increment]', function() {
        var increment = $(this).attr('data-increment');
        ++increment;
        $(this).attr('data-increment', increment);
        $.request('heroAccount::onAddItem',{
            data: { key: increment },
            update: { 'myaccount/cv/form-item-working-experience': '@#working-exps-container' },
            afterUpdate : function(data){
                refreshEle();
            },
        });

        return false;
    });

    $( function() {
        var changeProvince = (ele, type, isKeepVal) => {
            var code = $(ele).val();
            var typeLoc = (type == 2) ? 'domicile_' : '';
            var city = $('[name="user['+typeLoc+'city_code]"]');
            if (!isKeepVal) $('[name="user['+typeLoc+'city_code]"], [name="user['+typeLoc+'district_code]"], [name="user['+typeLoc+'village_code]"]').val('').trigger('change').attr('disabled', 'disabled');
            if (code) city.removeAttr('disabled');
            city.attr('data-request-data', "type: 'city', code: '" + code  + "'");
        };

        var changeCity = (ele, type, isKeepVal) => {
            var code = $(ele).val();
            var typeLoc = (type == 2) ? 'domicile_' : '';
            var district = $('[name="user['+typeLoc+'district_code]"]');
            if (!isKeepVal) $('[name="user['+typeLoc+'district_code]"], [name="user['+typeLoc+'village_code]"]').val('').trigger('change').attr('disabled', 'disabled');
            if (code) district.removeAttr('disabled');
            district.attr('data-request-data', "type: 'district', code: '" + code + "'" );
        };
        
        var changeDistrict = (ele, type, isKeepVal) => {
            var code = $(ele).val();
            var typeLoc = (type == 2) ? 'domicile_' : '';
            var village = $('[name="user['+typeLoc+'village_code]"]');
            if (!isKeepVal) village.val('').trigger('change').attr('disabled', 'disabled');
            if (code) village.removeAttr('disabled');
            village.attr('data-request-data', "type: 'village', code: '" + code + "'" );
        };

        changeProvince('[name="user[province_code]"]', 1, 1);
        changeCity('[name="user[city_code]"]', 1, 1);
        changeDistrict('[name="user[district_code]"]', 1, 1);
        changeProvince('[name="user[domicile_province_code]"]', 2, 1);
        changeCity('[name="user[domicile_city_code]"]', 2, 1);
        changeDistrict('[name="user[domicile_district_code]"]', 2, 1);

        //
        // On Change Permanent Address
        //
        $('[name="user[province_code]"]').on('change', function() {
            changeProvince(this);
        });

        $('[name="user[city_code]"]').on('change', function() {
            changeCity(this);
        });

        $('[name="user[district_code]"]').on('change', function() {
            changeDistrict(this);
        });

        //
        // On Change Domicile Address
        //
        $('[name="user[domicile_province_code]"]').on('change', function() {
            changeProvince(this, 2);
        });

        $('[name="user[domicile_city_code]"]').on('change', function() {
            changeCity(this, 2);
        });

        $('[name="user[domicile_district_code]"]').on('change', function() {
            changeDistrict(this, 2);
        });
    });
</script>
{% endput %}
