title = "Candidates"
url = "mycompany/job/:job_id/candidates/:applicant_id"
layout = "default"

[session]
security = "user"
allowedUserGroups[] = "admin_company"
redirect = "home"

[candidateFullView]
==
<section class="dtl-acc pb-0">
    {% if candidate.job.billing.ref_billing_status_id == 3 and candidate.assessment is null %}
        <div class="card list-prof h_talent h-auto">
            <div class="card-body">
                <div class="container p-0-m">
                    <div class="row">
                        <div class="col text-center">
                            <p class="fs-14">To access full information about this candidate, please <b>complete your payment</b>.<br>
                                All the payment details has been sent to <b>your email</b>.</p>
                            <div class="action">
                                <a href="/mycompany/job/{{job_id}}/candidates" class="btn btn-outline-primary w-auto me-2 px-md-5"><i data-feather="arrow-left"></i> Back To Candidate List</a>
                                <a href="/mycompany/billings/{{ candidate.job.billing.invoice_number }}/payment-confirmation/" class="btn btn-primary w-auto h-38 px-md-5">I Already Completed My Payment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if candidate.job.billing.ref_billing_status_id == 3 and candidate.assessment%}
        <div class="card list-prof h_talent h-auto" style="background: #FFF5CC 0% 0% no-repeat padding-box;">
            <div class="card-body">
                <div class="container p-0-m">
                    <div class="row">
                        <div class="col text-center">
                            <p class="fs-14"> This candidate has passed our <b>IQ</b> and <b>DISC</b> assignment and ready to interview.</p>
                            <div class="action">
                                <a href="/mycompany/job/{{job_id}}/candidates" class="btn btn-outline-primary w-auto me-2 px-md-5"><i data-feather="arrow-left"></i> Back To Candidate List</a>
                                <a href="/mycompany/invite-interview/{{candidate.id}}" class="btn btn-primary w-auto h-38 px-md-5">I Invite for Interview</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container py-5">
        {% if candidate.job.billing.ref_billing_status_id == 3 and candidate.assessment is null%}
            <div class="col-6 p-4">
                <a href="/mycompany/job/{{job_id}}/candidates" class="row text-darkblue font-weight-600 text-decoration-none">
                    <div class="col-1"> <i class="fa fa-arrow-left"></i> </div>
                    <div class="col-11">
                        Back To Candidate List
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="card-cv">
            {% if not jobId %}
            <a href="{{ url('myaccount/update-cv') }}" class="btn btn-yellow btn-edit-cv"><i data-feather="edit"></i> Edit CV</a>
            {% endif %}
            <div class="header-cv">
                <div class="row m-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="thumbnail thumb-cv">
                            {% if candidate.job.billing.ref_billing_status_id == 3 %}
                                {% if candidate.avatar %}
                                    <img src="{{ candidate.avatar.getPath() }}" alt="">
                                {% else %}
                                    <img src="{{ 'assets/images/hero.jpg'|theme }}" alt="">
                                {% endif %}
                            {% else %}
                                <img src="{{ 'assets/images/locked.svg'|theme }}" alt="">
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-md-8 d-flex justify-content-center flex-column px-md-5">
                        <div class="age-loc">
                            {{ candidate.user.age }} Years Old <span class="mx-2">|</span> {{ candidate.user.domicile_location }}
                        </div>
                        {% if candidate.job.billing.ref_billing_status_id == 3 %}
                            <div class="fullname">{{ candidate.name }}</div>
                        {% else %}
                            <div class="fullname">{{ candidate.user.gender == 'M' ? 'Male' : "Female" }}</div>
                        {% endif %}
                        {% if candidate.job.billing.ref_billing_status_id == 3 %}
                            <div class="mail-phone">
                                <a href="mailto:{{ candidate.email }}"><i data-feather="mail"></i>{{ candidate.email }}</a>
                                <a href="tel:{{ candidate.phone }}"><i data-feather="phone"></i>{{ candidate.phone }}</a>
                            </div>
                            <p>{{ candidate.user.about }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="body-cv">
                <div class="row m-0">
                    <div class="col-md-4 body-left px-md-5">
                        <div class="title-int">EDUCATION</div>
                        {% if candidate.job.billing.ref_billing_status_id == 3 %}
                            {% for edu in candidate.user.educations %}
                                <div class="l-list">
                                    <div class="title-list-cv">
                                        <div>{{ edu.institution }}</div>
                                        <span>({{ edu.grad_year }})</span>
                                    </div>
                                    <div class="desc-list-cv">{{ edu.major }} - GPA {{ edu.gpa }}</div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <img src="{{ 'assets/images/locked-font.svg'|theme }}" alt="">
                        {% endif %}

                        <div class="title-int mt-5">CERTIFICATION</div>
                        {% if candidate.job.billing.ref_billing_status_id == 3 %}
                            {% for cert in candidate.user.certificates %}
                            <div class="l-list">
                                <div class="title-list-cv">
                                    <div>{{ cert.issuer }}</div>
                                    <span>({{ cert.issue_date|date('Y') }})</span>
                                </div>
                                <div class="desc-list-cv">{{ cert.subject }}</div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <img src="{{ 'assets/images/locked-font.svg'|theme }}" alt="">
                        {% endif %}
                        <div class="title-int mt-5">LANGUAGE</div>
                        {% for lang_skill in candidate.user.lang_skills %}
                        <div class="l-list">
                            <b>{{ lang_skill.ref.name }}</b>
                            <div>{{ lang_skill.level.name }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-8 body-right px-md-5">
                        <div class="title-int">SKILLSET</div>
                        <div class="l-list">
                            {% for skill in candidate.user.skills.sortByDesc('ref_prof_skill_level_id') %}
                            {% set cls = '' %}
                            {% if skill.ref_prof_skill_level_id == 4 %}
                                {% set cls = 'expert' %}
                            {% elseif skill.ref_prof_skill_level_id == 3 %}
                                {% set cls = 'mid-level' %}
                            {% elseif skill.ref_prof_skill_level_id == 2 %}
                                {% set cls = 'junior' %}
                            {% endif %}
                            <div class="l-tooltip {{ cls }}">
                                {{ skill.ref.name }}
                                <span class="l-tooltiptext">{{ skill.level.alias }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="title-int mt-5">WORKING EXPERIENCE</div>
                        {% if candidate.job.billing.ref_billing_status_id == 3 %}
                            {% for exp in candidate.user.working_exps.sortByDesc('start_period') %}
                                <div class="row">
                                    {% set projects = exp.projects.sortByDesc('start_period') %}
                                    {% set firstProject = projects.first() %}

                                    <div class="col-md-4">
                                        <div class="l-list">
                                            <b class="text-darkblue">{{ exp.start_date|date('M Y') }} - {{ exp.end_date|date('M Y') }}</b>
                                            <div class="text-blue">{{ firstProject.name }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="l-list">
                                            <b class="text-darkblue">{{ exp.company_name }}</b>
                                            <div class="text-grey">{{ firstProject.description }}</div>
                                        </div>
                                    </div>

                                    {% for project in projects.skip(1) %}
                                    <div class="col-md-4">
                                        <div class="l-list">
                                            <div class="text-blue">{{ project.name }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="l-list">
                                            <div class="text-grey">{{ project.description }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        {% else %}
                            <img src="{{ 'assets/images/locked-font.svg'|theme }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
