title = "Invite Candidate to Interview"
url = "mycompany/invite-interview/:applicant_id"
layout = "default"

[session]
security = "user"
allowedUserGroups[] = "admin_company"
redirect = "home"

[candidateInviteInterview]
==
<section class="dtl-acc pb-0">
    <div class="row mt-4">
        <div class="col-8 mx-auto">
            <div class="title-list">
                Invite for Interview
            </div>
            <div class="card list-prof mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 d-inline-flex align-items-center">
                            <div class="thumb-jobs">
                                {% if not isUnlocked %}
                                    <img src="{{ 'assets/images/locked.svg'|theme }}" alt="" style="max-width: none; max-height: none;">
                                {% else %}
                                    {% if candidate.user.avatar %}
                                        <img src="{{ candidate.user.avatar.getThumb(100, 100, {'quality': 80}) }}" alt="">
                                    {% else %}
                                        <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div>
                                <!-- <div class="pr-prossstat text-blue">{{ status }}</div> -->
                                {% if not isUnlocked %}
                                <div class="pr-name">{{ candidate.user.gender_name }} Talent, {{ candidate.user.age|default(0) }}</div>
                                {% else %}
                                <div class="pr-name">{{ candidate.name }}, {{ candidate.user.age|default(0) }}</div>
                                {% endif %}
                                <div class="date text-darkblue font-weight-600">{{ candidate.user.years_exp|default(0) }} Years Experiences</div>
                                <div class="gpa-iq">
                                    <ul>
                                        {% if candidate.user.educations is empty %}
                                            <li>GAP <span>0</span></li>
                                        {% else %}
                                            <li>GAP <span>{{candidate.user.educations|last['gpa']}}</span></li>
                                        {% endif %}
                                        <li>IQ <span>{{candidate.assessment.iq_score ?? 0}}</span></li>
                                    </ul>
                                    <ul>
                                        <li>D <span>{{candidate.assessment.dominance_score ?? 0}}</span></li>
                                        <li>I <span>{{candidate.assessment.influence_score ?? 0}}</span></li>
                                        <li>S <span>{{candidate.assessment.steadiness_score ?? 0}}</span></li>
                                        <li>C <span>{{candidate.assessment.compliance_score ?? 0}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 text-end position-relative" id="actions-container-{{ candidate.id }}">
                            {% partial 'mycompany/job/item-candidate-buttons' candidate=candidate isUnlocked=isUnlocked %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 mx-auto my-4">
            <div class="group-li mb-3">
                <label for="ref_job_type_id">Position / Job Title</label>
                <select
                    name="ref_job_type_id"
                    id="ref_job_type_id"
                    class="form-select form-th custom-select2"
                    required>
                    {% for item in jobs %}
                        <option value="{{ item.id }}" {% if item.id == candidate.job.id %} selected {% endif %}>{{ item.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="group-li mb-3">
                <label for="position">Email Subject</label>
                <input type="text" name="email_subject" id="email_subject" value="{{ candidate.email }}" required class="form-control form-th" placeholder="Subject">
            </div>
            <div class="group-li mb-3">
                <label for="editor">Invitation Text</label>
                <textarea name="email_content" id="editor" required placeholder="Message" rows="5"></textarea>
                <small id="emailContentErrMsg" style="display: none;" class="text-danger">

                </small>
            </div>
        </div>
        <div class="col-8 mx-auto mt-4">
            <hr>
            <div class="nav nav-tabs tabs-th" id="nav-tab" role="tablist">
                {% for tab, tabName in tabs %}
                <button
                    class="nav-link {% if loop.first %} active {% endif %}"
                    id="nav-{{ tab }}-tab"
                    data-attach-loading
                    data-bs-toggle="tab"
                    data-bs-target="#nav-{{ tab }}"
                    type="button"
                    role="tab"
                    aria-controls="nav-{{ tab }}"
                    aria-selected="true">{{ tabName }}</button>
                {% endfor %}
            </div>
            <div class="tab-content" id="nav-tabContent">
                {% for tab, tabName in tabs %}
                <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="nav-{{ tab }}" role="tabpanel" aria-labelledby="nav-{{ tab }}-tab">
                    {% partial 'mycompany/job/interview-form' tab=tab candidate=candidate %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% put scripts %}
<style>
    input[type="time"]::-webkit-calendar-picker-indicator {
        background: none;
    }
</style>
<script src="{{ 'assets/vendor/ckeditor5/build/ckeditor.js'|theme }}"></script>
<script src="{{ 'assets/js/ckeditor.js'|theme }}"></script>
{% endput %}
