<div class="group-li">
    <div class="change-pp change-pp-cv dropzone-box {{ clsPhoto }}">
        <div class="view-box">
            <div class="preview-zone {% if not user.avatar %} hide {% endif %} ">
                <div class="box box-solid">
                    <div class="box-body">
                        <img src="{{ user.avatar.getThumb(100, 100, {'quality': 80}) }}" alt="Avatar" />
                    </div>
                </div>
            </div>
        </div>
        <div class="dropzone-wrapper {% if user.avatar %} d-none {% endif %}">
            <div class="dropzone-desc">
                <div class="text-start">
                    <span><i data-feather="upload"></i> {{ 'Upload Your Photo</span>
                    <p>formal photo (upper torso) with JPEG or PNG format maximum 2mb</p>
                </div>
            </div>
            <input type="file" name="avatar" class="dropzone" accept="image/*">
        </div>
        <div class="dropzone-action {% if not user.avatar %} d-none {% endif %}">
            <span class="text-dark pp-name-old {% if not user.avatar %} d-none {% endif %}">{{ user.avatar.filename|_ }}</span>
            <span class="text-darkblue pp-name-new {% if user.avatar %} d-none {% endif %}"><i data-feather="check-circle"></i> {{ 'Photo Uploaded</span>
            <div class="d-inline-flex mt-3">
                <a href="#" onclick="$('.dropzone').click()" class="btn btn-outline-primary btn-sm me-2 fs-14">Change Photo</a>
                <a href="javascript:void(0);" class="btn btn-outline-danger  btn-sm  fs-14 remove-preview">Delete Photo</a>
            </div>
        </div>
    </div>
</div>
<div class="group-li mb-3">
    <label for="">Name</label>
    <input type="text" name="user[name]" value="{{ user.name }}" required class="form-control form-th" placeholder="Your Name">
</div>
<div class="row">
    <div class="col-md-6">
        <div class="group-li mb-3">
            <label for="">Email</label>
            <input type="text" name="user[email]" required value="{{ user.email }}" class="form-control form-th" placeholder="Your active Email (for work or formal uses)">
        </div>
    </div>
    <div class="col-md-6">
        <div class="group-li mb-3">
            <label for="">Phone</label>
            <label class="form-date form-phone">
                <span>+62</span>
                <input type="text" name="user[phone]" required value="{{ user.phone }}" class="form-control form-th" placeholder="Your active Phone Number">
            </label>
        </div>
    </div>
</div>
<div class="group-li">
    <label for="">About You</label>
    <textarea class="form-control form-th input-count" data-count="#about_count" required rows="4" placeholder="Introduce yourself" name="user[about]" maxlength="240">{{ user.about }}</textarea>
</div>
<div class="text-end mb-1">
    <span class="forgot-pass" id="about_count">{{ user.about|length }}/240</span>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="group-li mb-3">
            <label for="">Place of Birth</label>
            <input type="text" name="user[birth_place]" required value="{{ user.birth_place }}" class="form-control form-th" placeholder="Your birth place">
        </div>
    </div>
    <div class="col-md-6">
        <div class="group-li mb-3">
            <label for="">Date of Birth</label>
            <label class="form-date" for="user_birth_date">
                <i data-feather="calendar"></i>
                <input type="text" name="user[birth_date]" required value="{% if user.birth_date %}{{ user.birth_date|date('d/m/Y') }}{% endif %}" class="form-control form-th datepicker" data-enddate="-10y" data-startview="years" placeholder="Your birthdate" id="user_birth_date">
            </label>
        </div>
    </div>
</div>
<div class="group-li mb-3">
    <label for="">Gender</label>
    <div class="select-th">
        <label for="male">
            <input type="radio" name="user[gender]" required id="male" value="M" {% if user.gender == 'M' %} checked {% endif %}>
            <span>Male</span>
        </label>
        <label for="female">
            <input type="radio" name="user[gender]" id="female" value="F" {% if user.gender == 'F' %} checked {% endif %}>
            <span>Female</span>
        </label>
    </div>
</div>
<div class="group-li mb-3">
    <label for="">ID Card</label>
    <input type="text" name="user[id_number]" required value="{{ user.id_number }}" class="form-control form-th" placeholder="Your ID Card Number">
</div>