<nav>
    <div class="nav nav-tabs tabs-th" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-step1-tab" data-bs-toggle="tab" data-bs-target="#nav-step1" type="button" role="tab" aria-controls="nav-step1" aria-selected="true">Biodata</button>
      <button class="nav-link" id="nav-step2-tab" data-bs-toggle="tab" data-bs-target="#nav-step2" type="button" role="tab" aria-controls="nav-step2" aria-selected="false">Address & Formal Info</button>
      <button class="nav-link" id="nav-step3-tab" data-bs-toggle="tab" data-bs-target="#nav-step3" type="button" role="tab" aria-controls="nav-step3" aria-selected="false">Education</button>
      <button class="nav-link" id="nav-step4-tab" data-bs-toggle="tab" data-bs-target="#nav-step4" type="button" role="tab" aria-controls="nav-step4" aria-selected="false">Working Experience</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
      <!-- Step 1 -->
      <div class="tab-pane fade deposit-form container-steps show active" id="nav-step1" role="tabpanel" aria-labelledby="nav-step1-tab">
        {% partial 'myaccount/cv/form-step1' clsPhoto='mt-2' %}
          <div class="row mt-5">
              <div class="col">
                  <a href="#" class="btn btn-primary w-100 py-2 btn-next" data-next="#nav-step2">Next</a>
              </div>
          </div>
      </div>

      <!-- Step 2 -->
      <div class="tab-pane fade deposit-form container-steps" id="nav-step2" role="tabpanel" aria-labelledby="nav-step2-tab">
          {% partial 'myaccount/cv/form-step2' %}
          <div class="row mt-5">
              <div class="col">
                  <button type="button" class="btn btn-outline-secondary w-100 py-2 btn-prev" data-prev="#nav-step1">Back</button>
              </div>
              <div class="col">
                  <a href="#" class="btn btn-primary w-100 py-2 btn-next" data-next="#nav-step3">Next</a>
              </div>
          </div>
      </div>

      <!-- Step 3 -->
      <div class="tab-pane fade deposit-form container-steps" id="nav-step3" role="tabpanel" aria-labelledby="nav-step3-tab">
          {% partial 'myaccount/cv/form-step3' %}
          <div class="row mt-5">
              <div class="col">
                  <button type="button" class="btn btn-outline-secondary w-100 py-2 btn-prev" data-prev="#nav-step2">Back</button>
              </div>
              <div class="col">
                  <a href="#" class="btn btn-primary w-100 py-2 btn-next" data-next="#nav-step4">Next</a>
              </div>
          </div>
      </div>

      <!-- Step 4 -->
      <div class="tab-pane fade deposit-form container-steps" id="nav-step4" role="tabpanel" aria-labelledby="nav-step4-tab">
        {% partial 'myaccount/cv/form-step4' %}
          <div class="row mt-5">
              <div class="col">
                  <button type="button" class="btn btn-outline-secondary w-100 py-2 btn-prev" data-prev="#nav-step3">Back</button>
              </div>
              <div class="col">
                  <button type="submit" data-attach-loading class="btn btn-yellow w-100 py-2">Complete Profile</a>
              </div>
          </div>
      </div>
  </div>