@media screen and (max-width: 1199px) {
	.modal-xl {
		max-width: 90%;
	}
	.modal-company .list-jobs .desc {
		padding-right: 0 !important;
	}
	.modal-company .lg-modal {
		padding-left: 20px;
		padding-right: 20px;
	}
	.modal-company .p-4.col-company {
		padding: 20px !important;
	}
	.modal-company .list-jobs.mb-5.mt-3 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.activity .list-act {
		font-size: 14px;
		padding-right: 15px;
		margin-right: 15px;
	}
	.activity .list-act span {
		font-size: 15px !important;
	}
}
@media screen and (max-width: 991px) {
	.container {
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar .navbar-nav .nav-link {
		font-size: 14px;
	}
	.btn-user span strong {
		display: none;
	}
	#work img {
		width: 300px;
	}
	#work .btn-yellow {
		margin-top: 0 !important;
	}
	.talents img {
		width: 300px;
	}
	#talent .ps-5 {
		padding-left: 12.5px !important;
	}
	#talent .pe-5 {
		padding-right: 12.5px !important;
	}
	#desc_filter {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9991;
		background: rgba(0, 0, 0, .5);
	}
	#desc_filter #accordionFilter {
		margin-top: 0 !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		max-height: calc(100vh - 84px);
		overflow: auto;
		background: #fff;
		padding: 20px;
		position: fixed;
		bottom: 64px;
		left: 0;
		width: 100%;
	}
	#desc_filter #accordionFilter ~ .row-btn-filter {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		background: #00184D;
		padding: 10px 20px;
		height: 64px;
	}
	#desc_filter #accordionFilter ~ .row-btn-filter .reset-form {
		background: #fff;
		border-color: #fff;
		color: #00184D;
	}
	#accordionFilter .accordion-body {
		padding-bottom: 0;
	}
	#accordionFilter .accordion-item:last-child {
		margin-bottom: 0;
	}
	.filter-left .title-list {
		display: none;
	}
	.f-search {
		display: flex;
	}
	.f-search .mb-3 {
		margin-bottom: 0 !important;
		padding-right: 10px;
	}
	.btn-filter-mb {
		display: flex;
		align-items: center;
		justify-content: center;
		/*margin-left: 10px;*/
		background: transparent;
		/*border-color: #00184D;*/
		color: #00184D;
		transform: rotate(90deg);
		padding: 0;
	}
	.btn-filter-mb:focus,
	.btn-filter-mb:hover {
		background: none;
		box-shadow: none;
		outline: none;
	}
	.filter-left {
		margin-bottom: 30px;
	}
	.content-jobs {
		margin-top: 20px;
	}
	.pe-md-12 {
		padding-right: 12.5px !important;	
	}
	.col-listjobs {
		margin-top: 50px;
	}
	.prostat {
		width: 230px;
	}
	.progress {
		width: 100%;
	}
	.thumb-profile {
		margin-right: 20px;
	}
	.retata {
		height: 100%;
		padding: 20px;
	}
	.retata .price {
		line-height: 12px;
	}
	.retata .price span {
		font-size: 14px;
		line-height: normal;
	}
	.retata .price h5 {
		font-size: 20px;
	}
	.activity {
		display: block;
		margin-bottom: 15px;
	}
	.activity .list-act {
	    border: 0;
	    margin-bottom: 5px;
	}
	.activity .list-act:last-child {
		margin-bottom: 0;
	}
	.header-dtl .list-jobs .desc span {
		min-width: 40px;
		text-align: right;
	}
	.fullname  {
		font-size: 22px;
	}
	.thumb-cv {
		width: 150px;
		height: 150px;
	}
	.age-loc {
		font-size: 14px;
	}
	.header-cv {
		padding-bottom: 50px;
	}
	.header-cv .fullname {
		font-size: 32px;
	}
	.mail-phone a {
		font-size: 14px;
	}
	.mail-phone {
		margin-bottom: 20px;
	}
	.mail-phone a svg {
		width: 18px;
	}
	.header-cv p {
		font-size: 14px;
	}
}
@media screen and (max-width: 767px) {
	.d-none-m {
		display: none !important;
	}
	.mt-0-m {
		margin-top: 0 !important;
	}
	.inner-dl.multiple-select .btn-dl {
		top: 10px;
	}
	.prostat {
		margin-bottom: 15px;
	}
	.filter-left {
	    position: fixed;
	    top: 65px;
	    right: 0;
	    left: 0;
	    background: #fff;
	    padding: 15px;
	    z-index: 999;
	    border-bottom: 0.5px solid rgba(0,0,0,.06);
	}
	.content-jobs {
		margin-top: 0;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar .navbar-nav .nav-link.btn-user {
		padding-left: 0 !important;
		border-left: 0;
	}
	.navbar-collapse {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    background: #173885;
	    margin-bottom: 15px;
	    margin-top: 15px;
	}
	.navbar-nav {
		margin: 50px auto; 
	}
	.navbar .navbar-nav .nav-link {
		margin: 0 auto !important;
	}
	.navbar .navbar-nav .nav-link.btn-register {
		margin-bottom: 10px !important;
	}
	.navbar-toggler {
		padding: 0;
		border: 0;
	}
	.cloud, .cloud-right {
		width: 33.333%;
	}
	.caracter {
		display: none;
	}
	.navbar-brand img  {
		height: 40px;
	}
	.what-is {
		padding: 50px 0;
	}
	.what-is .pe-5 {
		padding-right: 12.5px !important;
	}
	.what-is h1 {
		margin-right: 0;
	}
	.what-is p, p {
		font-size: 14px;
	}
	.what-is .ps-4 {
		padding-left: 12.5px !important;
	}
	.what-is .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.what-is .col-auto {
		width: 100%;
		justify-content: flex-start !important;
	}
	#work, #talent {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	#work .col-auto {
		display: none !important;
	}
	.work-desc {
		width: 100%;
	}
	.work-desc h1 {
		margin-bottom: 15px !important;
		font-size: 24px;
	}
	.work-desc li {
		font-size: 14px;
		padding-bottom: 15px;
	}
	.work-desc .btn-yellow {
		font-size: 14px;
	}
	#talent .col-auto.ps-5.text-white, .arrow {
		display: none;
	}
	.acc-talents {
		padding-bottom: 50px;
	}
	.sec-first {
		padding-top: 100px !important;
	}
	.application-page {
		padding-top: 150px !important;
	}
	.desc-header {
		text-align: right;
		padding-left: 30px;
		height: 100px;
	}
	.desc-header h1 {
		font-size: 24px;
	}
	.header-jobs {
		background-size: cover;
		padding: 30px 20px;
		display: none;
	}
	#login_modal .form-login, #register_modal .form-register {
		padding: 0 !important
	}
	.pe-sm-12 {
		padding-right: 12.5px !important;	
	}
	.see-company {
		width: 100%;
		font-size: 12px;
	}
	.see-company .arrow {
		/*display: block;*/
	}
	.jobs-page .list-jobs .thumb {
		display: none;
	}
	.title-list {
		font-size: 22px;
		height: auto;
	}
	.r-action span, .potential, .list-prof .date, .pr-prossstat {
		font-size: 10px;
	}
	.r-action h6, .list-prof .price, .pr-name {
		font-size: 12px;
	}
	#accordionJobs .list-jobs .desc {
	    padding-right: 110px;
	}
	.list-jobs .desc {
		min-height: auto;
	}
	.list-jobs .desc .exp {
		font-size: 10px;
	}
	.list-jobs .desc .title {
		font-size: 12px !important;
	}
	#accordionJobs .accordion-body {
		padding: 15px;
	}
	#accordionJobs .accordion-item {
		margin-bottom: 15px;
	}
	.pb-0-m {
		padding-bottom: 0 !important;
	}
	.btn {
		font-size: 12px !important;
	}
	.modal .form-login {
		padding: 0 !important;
	}
	.form-register h2, .form-login h2 {
		font-size: 18px;
	}
	.col-talent .talents-add, .talents-add {
		padding: 0;
	}
	.talents-add .title span {
		font-size: 18px;
	}
	.r-action .d-inline-flex {
		display: none !important;
	}
	#accordionJobs .list-jobs .desc .fl span, .lg-modal .desc .fl span {
		font-size: 10px;
	}
	.modal .btn-close {
		width: 25px;
		height: 25px;
		top: 10px;
		right: 10px;
	}
	.p-20-m {
		padding: 20px !important;
	}
	.px-20-m {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.col-talent {
		padding: 20px !important;
	}
	.list-talent .name {
		font-size: 12px;
	}
	.list-talent .email,
	.list-talent .stat-pro {
		font-size: 10px;
	}
	.talents-add .title {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.form-th {
		font-size: 12px;
	}
	.lg-modal {
		padding: 15px;
	}
	.modal-company .modal-body {
		border-radius: 0.3rem;
		overflow: hidden;
	}
	.modal-company .left-sec,
	.modal-company .p-4.col-company {
		border-radius: 0;
		box-shadow: none;
	}
	.modal-company .list-jobs.mb-5.mt-3 {
	    margin-top: 0 !important;
	    margin-bottom: 20px !important;
	}
	.modal-company p,
	.modal-company .col-company h5.fs-18 {
		font-size: 12px !important;
	}
	.alert-top {
		font-size: 12px;
		height: auto;
	}
	.dtl-acc {
		padding-top: 66px !important;
		padding-bottom: 30px;
	}
	.progress {
		width: 100%;
	}
	.header-full {
		/*height: auto;	*/
		/*min-height: auto;*/
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.minh-auto-m {
		min-height: auto !important;
	}
	.pr-m {
		position: relative;
	}
	.d-block-m {
		display: block !important;
	}
	.header-dtl .action {
		flex-direction: row;
		padding-left: 0;
	}
	.header-dtl .action .btn {
		margin-bottom: 0 !important;
		margin-left: 10px;
		font-size: 12px;
		padding: 0.375rem 0.75rem;
	}
	.find-jobs a {
		height: auto !important;
		width: auto !important;
		padding: 0.375rem 0.75rem !important;
		font-size: 12px !important;
	}
	.header-dtl .list-jobs .d-flex.w-100 {
		display: block !important;
	}
	.retata {
		display: flex;
		padding: 15px 10px;
		align-items: center;
	}
	.retata .price span {
		font-size: 12px;
	}
	.retata .price h5 {
		font-size: 18px;
	}
	.retata img {
		width: 40px;
	}
	.fs-16-m {
		font-size: 16px !important;
	}
	.text-darkblue.mb-4.fs-16-m svg {
		width: 20px;
		height: 20px;
	}
	.mt-30-m {
		margin-top: 30px !important;
	}
	.fs-12-m {
		font-size: 12px !important; 
	}
	.mb-30-m {
		margin-bottom: 30px !important;
	}
	.h-auto-m {
		height: auto !important;
	}
	.p-0-m {
		padding: 0 !important;
	}
	.w-100-sm {
		width: 100% !important;
	}
	.h_talent {
		height: auto;
		position: relative;
		left: auto;
		top: auto;
	}
	.h_talent ~ .container {
		margin-top: 0;
	}
	.not-referred {
		padding: 50px 20px; 
	}
	.not-referred h5 {
		font-size: 18px;
	}
	.thumb-cv {
		margin-bottom: 30px;
	}
	.header-cv .col-md-8 {
		text-align: center;
	}
	.btn-edit-cv {
		right: 15px;
		top: 15px;
	}
	.body-left, .body-right {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.l-list {
		font-size: 13px;
		margin-bottom: 15px;
	}
	.l-list b {
		font-size: 14px;
	}
	.title-int {
		font-size: 18px;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 575px) {
	.activity {
		display: flex;
		justify-content: center;
	}
	.activity .list-act {
		margin: 0;
		font-size: 10px;
	}
	.activity .list-act span {
	    font-size: 12px !important;
	    margin-right: 5px;
	}
	.header-dtl .list-jobs .desc span {
		min-width: auto;
	}
	.mb-10-sm {
		margin-bottom: 10px !important;
	}
	.modal-xl {
		max-width: 100%;
	}
	.modal-company .lg-modal {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 20px;
	}
	.modal-company .p-4.col-company {
		padding: 15px !important;
	}
	.header-dtl .list-jobs {
		display: block;
		text-align: center;
	}
	.thumb-profile {
		width: 80px;
		height: 80px;
		min-width: auto;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.prostat {
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.f-desc .header-dtl .list-jobs .desc ~ .d-flex {
		justify-content: center;
	}
	.retata {
		margin-bottom: 10px;
		height: auto;
		min-height: auto;
	}
	.mt-30-sm {
		margin-top: 30px !important;
	}
	.action {
		margin-top: 15px !important;
	}
	.list-prof a {
		font-weight: 600;
	}
	.list-prof .card-body {
		padding: 15px;
	}
	.w-100-sm {
		width: 100% !important;
	}
	.age-loc {
		font-size: 10px;
	}
	.header-cv .fullname {
		font-size: 26px;
	}
	.mail-phone a {
		margin: 0;
		display: block;
		font-size: 10px;
	}
	.mail-phone a svg {
		width: 15px;
		margin-right: 5px;
	}
	.header-cv p {
		font-size: 12px;
	}
}
@media screen and (max-width: 399px) {
	.btn-act-listjobs {
		display: block;
	}
	.btn-act-listjobs .btn {
		width: 100%;
		margin-bottom: 5px;
		text-align: center;
	}
	.btn-act-listjobs .btn:last-child {
		margin-top: 0;
	}
	.talents-add .title span {
		font-size: 16px;
	}
	.talents-add .title {
		height: 1px;
	}
	.f-desc .header-dtl .list-jobs .desc ~ .d-flex {
		display: block !important;
	}
	.find-jobs {
		width: 100%;
		margin-bottom: 10px;
	}
	.find-jobs a {
		width: 100% !important;
	}
	.header-dtl .action .btn:first-child {
		margin-left: 0 !important;
	}
	.fullname {
		font-size: 22px;
	}
	.titlename {
		font-size: 12px;
	}
	.action .btn-primary,
	.action .btn-yellow {
		width: 100% !important;
		margin-bottom: 6px;
	}
	.action .btn-outline-secondary,
	.action .btn-outline-danger {
		width: calc(50% - 2.1px) !important;
    	margin: 0 !important;
	}
	.act-list {
		font-size: 10px;
	}
	.act-list span {
		font-size: 16px !important;
    	margin-right: 4px;;
	}
	.act-list div {
	    padding-right: 10px;
	    margin-right: 10px;
	}
	.w-100-xs {
		width: 100% !important;
	}
} 
@media screen and (max-width: 340px) {
	.desc-header h1 {
		font-size: 18px;
	}
	.desc-header {
		padding-left: 45px;
	}
	.l-remember {
		font-size: 11px;
	}
	.forgot-pass {
		font-size: 11px;
	}
}