title = "Company's"
url = "/companies/:slug"
layout = "default"

[companyDetail]
==
<section class="dtl-acc">
    <div class="header-full">
        <img src="{{ 'assets/images/bg-talents.jpg'|theme }}" alt="" class="bg-header">
        <div class="f-desc">
            <div class="container">
                <div class="header-dtl">
                    <div class="list-jobs mb-0">
                        <div class="thumb"><i class="fas fa-briefcase"></i></div>
                        <div class="desc w-100">
                            <div>
                                <div class="title">{{ company.name }}</div>
                                <span>{{ company.location }}</span>
                            </div>
                        </div>
                        <div class="action">
                            <a href="{{ url('jobs') }}" class="btn btn-light">Back to Joblist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <h5><b>About The Company</b></h5>
                <p>{{ company.about }}</p>
                <hr class="my-4">
                <p><b>Benefits</b></p>
                <ul class="fs-14">
                    {% for benefit in company.benefits %}
                    <li>{{ benefit.name }}</li>
                    {% endfor %}
                </ul>
                <hr class="my-4">
                <p><b>Work Culture</b></p>
                <ul class="fs-14">
                    {% for culture in company.cultures %}
                    <li>{{ culture.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>