<div class="row organization-items">
    <a href="javascript:void(0);" class="trash-section-form btn-remove" data-min="1" data-container=".organization-items"><i data-feather="trash-2"></i></a>
    <input type="hidden" name="organizations[id][]" value="{{ organization.id }}">
    <div class="col-md-12">
        <div class="group-li mb-3">
            <label for="">Organization Activity</label>
            <input type="text" name="organizations[name][]" value="{{ organization.name }}" class="form-control form-th" placeholder="Your Organization Activity">
        </div>
    </div>
    <div class="col-md-6">
        <div class="group-li mb-3">
            <label for="">Your Position</label>
            <input type="text" name="organizations[position][]" value="{{ organization.position }}" class="form-control form-th" placeholder="Your Position">
        </div>
    </div>
    <div class="col-md-6">
        <div class="group-li mb-3">
            <label for="">Organization Period</label>
            <label class="form-date" for="">
                <i data-feather="calendar"></i>
                <input type="text" name="organizations[period][]" value="{% if organization.start_period %}{{ organization.start_period|date('d/m/Y') }} - {{ organization.end_period|date('d/m/Y') }}{% endif %}" class="form-control form-th mydaterangepicker" placeholder="Your Organization Period">
            </label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="group-li mb-3">
            <label for="">Description</label> 
            <textarea class="form-control form-th" name="organizations[description][]" rows="4" placeholder="Tell us about the organization and your contributions">{{ organization.description }}</textarea>
        </div>
    </div>
</div>