<div class="row lang-skill-items">
    <a href="javascript:void(0);" class="trash-section-form btn-remove" data-min="1" data-container=".lang-skill-items"><i data-feather="trash-2"></i></a>
    <input type="hidden" name="lang_skills[id][]" value="{{ langSkill.id }}">
    <div class="col-md-6">
        <div class="group-li mb-3">
            <label for="">Language Ability</label>
            <select name="lang_skills[ref_lang_id][]" id="" class="form-select form-th custom-select2">
                <option value="">Your language ability</option>
                {% for lang in master.langs %}
                    <option value="{{ lang.id }}" {% if langSkill.ref_lang_id == lang.id %} selected {% endif %}>{{ lang.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="group-li mb-3">
            <label for="">Language Level</label>
            <select name="lang_skills[ref_lang_level_id][]" id="" class="form-select form-th custom-select2">
                <option value="">Your language level</option>
                {% for level in master.langLevels %}
                    <option value="{{ level.id }}" {% if langSkill.ref_lang_level_id == level.id %} selected {% endif %}>{{ level.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>