<div class="modal fade" id="forgot_password" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h2 class="mb-2">Log In</h2>
            <p class="mb-4">We will send new password to your email</p>
            <form 
              data-request="heroAccount::onSignIn"
              data-browser-validate
              data-request-flash
              action="" id="">
                <div class="input-group mb-4">
                    <span class="input-group-text"><img src="{{ 'assets/images/envalope.svg'|theme }}"></span>
                    <input type="text" name="email" class="form-control form-th" placeholder="Email" aria-label="emailInput" required>
                </div>
                <button class="btn btn-yellow-gradient w-100">Send</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>