<div class="container text-center text-white">
    <img src="{{ 'assets/images/logo-banner.png'|theme }}" alt="" class="mb-2">
    <p class="lead">Participate and Get</p>
    <h1 class="fw-bolder">Up to Rp 7 Million Cash</h1>
    <a class="btn btn-lg btn-yellow w-auto px-4 mt-5" href="#work">How it Work?</a>
</div>
<img src="{{ 'assets/images/caracter.png'|theme }}" alt="" class="caracter">
<img src="{{ 'assets/images/cloud.png'|theme }}" alt="" class="cloud">
<img src="{{ 'assets/images/cloud-right.png'|theme }}" alt="" class="cloud-right">