<div class="modal fade" id="delete_success_modal-{{ id }}" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3 text-center">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <img src="{{ 'assets/images/deleted.png'|theme }}" height="88">
            {% if title %}
            <h2>{{ title }}</h2>
            {% else %}
            <h2>Data successfully deleted</h2>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>