<div class="modal fade" id="claim_your-prize" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h2 class="mb-0">Claim Your Prize</h2>
          <p class="mb-4">Please enter your bank account</p>
          <form>
            <select name="bankname" id="" class="form-select form-th mb-4">
              <option>Bank</option>
              <option>Bank 1</option>
              <option>Bank 2</option>
              <option>Bank 3</option>
              <option>Bank 4</option>
            </select>
            <input type="text" name="number-bank" class="form-control form-th px-3 mb-4" placeholder="Your Bank Account Number">
            <div class="text-end"><button class="btn btn-yellow px-5">Submit</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>