<div class="modal fade" id="payment_confirmation" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h2 class="mb-4">Payment Confirmation</h2>
            <div class="fs-12 text-darkblue"><b>Total Deposit</b></div>
            <div class="fs-20 d-flex align-items-center">Rp 4.000.000 <span class="fs-14 ms-2">(2 persons / positions)</span></div>
            <hr>
            <div class="fs-12 text-darkblue"><b>Bank Destination</b></div>
            <div class="fs-20 d-flex align-items-center">Mandiri - 125235663</div>

            <div class="row mt-5">
              <div class="col">
                <button class="btn btn-outline-primary w-100" data-bs-dismiss="modal" aria-label="Close">Maybe Later</button>
              </div>
              <div class="col">
                <button class="btn btn-yellow px-5 w-100" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#payment_request_sent">Confirm</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>