<div class="modal fade" id="congratulation" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4 pb-0">
          <div class="form-login p-3 pb-0 text-center">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <h2 class="my-3">Congratulations!</h2>
              <p>You've become a {{ role }}!</p>
              <img src="{{ 'assets/images/talents.png'|theme }}" alt="" width="227">
          </div>
        </div>
      </div>
    </div>
  </div>