<div class="modal fade" id="forgot_password" tabindex="-1" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h2>Forgot Password</h2>
            <p class="mb-4">We will send new password to your email</p>
            <form 
              data-request="heroResetPassword::onRestorePassword"
              data-request-success="$('#forgot_password').modal('hide');$('#new_password_modal').modal('show')"
              data-request-flash
              data-browser-validate
            >
                <div class="input-group mb-4">
                    <span class="input-group-text"><img src="{{ 'assets/images/envalope.svg'|theme }}"></span>
                    <input type="text" name="email" class="form-control form-th" placeholder="Email" aria-label="emailInput" required>
                </div>
                <button class="btn btn-yellow-gradient w-100" data-attach-loading>Send</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Password sent -->
{% partial 'modal-new-password-sent' %}