<div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3 pb-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h2 class="mt-0">Log In</h2>
            <form
              data-request="heroAccount::onSignIn"
              data-request-flash
              data-browser-validate
              action="" id="formSignIn">
                <div class="input-group mb-3">
                    <span class="input-group-text"><img src="{{ 'assets/images/envalope.svg'|theme }}"></span>
                    <input type="text" name="email" class="form-control form-th" placeholder="Email" aria-label="emailInput" required>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text"><img src="{{ 'assets/images/lock.svg'|theme }}"></span>
                    <input type="password" name="password" class="form-control form-th" id="passwordInput" placeholder="Password" required>
                </div>
                <div class="row mb-3">
                  <div class="col d-flex align-items-center"><label for="remember" class="l-remember"><input type="checkbox" name="remember" id="remember"><span></span> Remember me</label></div>
                  <div class="col text-end d-flex justify-content-end align-items-center"><a href="#" class="forgot-pass" data-bs-toggle="modal" data-bs-target="#forgot_password" role="button" data-bs-dismiss="modal">Forgot password</a></div>
                </div>
                <button class="btn btn-yellow-gradient w-100" data-attach-loading>Login</button>
                <div class="or-login"><span>Or Login With</span></div>
                <div class="row">
                    {% partial 'social-login' %}
                    <div class="col-12 text-center mt-4 fs-14">
                      Dont have any account? <a href="#" class="fw-600" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#register_modal">Register</a>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Login -->
{% partial 'modal-forgot-password' %}
