<div class="modal fade" id="reset_password_modal" tabindex="-1" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-register p-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h2>Reset Password</h2>
          <form 
            data-request="heroResetPassword::onResetPassword"
            data-request-success="$('#reset_password_modal').modal('hide');$('#reset_pass_succeed_modal').modal('show')"
            data-request-flash
            data-browser-validate
          >
            <input type="hidden" name="code" value="{{ reset_code }}" required>
            <input type="password" name="password" class="form-control form-th mb-3" placeholder="New Password" required>
            <input type="password" name="password_confirmation" class="form-control form-th mb-3" placeholder="Confirm New Password" required>
            <div class="text-end">
              <button class="btn btn-yellow-gradient" data-attach-loading>Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Password sent -->
{% partial 'modal-new-password-sent' %}