<div class="modal fade" id="reset_pass_succeed_modal" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3 text-center">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <img src="{{ 'assets/images/lock.jpg'|theme }}" height="88">
            <h2>Reset Password Succeeded</h2>
        </div>
      </div>
    </div>
  </div>
</div>