<div class="modal fade" id="deposit_summary" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="form-login p-3">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <h2 class="my-4">Summary</h2>
              <div class="fs-12 text-blue">Job Title</div>
              <div class="fs-22 text-darkblue"><b>Senior Full-Stack Rails Developer</b></div>
              <hr>
              <div class="fs-12 text-blue">People Required</div>
              <div class="fs-22 text-darkblue"><b>3 Person</b></div>
              <hr>
              <div class="fs-12 text-blue">Total Deposit</div>
              <div class="fs-22 text-darkblue"><b>IDR 9.000.000</b></div>
              <hr>
              <div class="fs-12 text-blue">Destination Bank</div>
              <div class="fs-22 text-darkblue"><b>Mandiri - 124152323</b></div>
              <div class="row mt-5">
                  <div class="col">
                    <button class="btn btn-outline-secondary w-100 py-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-yellow w-100 py-2" data-bs-toggle="modal" data-bs-target="#payment_request_sent">Confirm</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>