<div class="modal fade" id="delete_alert_modal-{{ id }}" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="form-login p-3">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <h2 class="mb-3">Are you sure you want to delete this?</h2>
              {% if title %} <h5 class="text-blue mb-3"><b>{{ title }}</b></h5> {% endif %}
              <div class="row mt-4">
                <div class="col"><button
                  class="btn btn-danger w-100"
                  data-request="clientList::onDelete"
                  data-request-success="$('#delete_alert_modal-{{ id }}').modal('hide');$('#delete_success_modal-{{ id }}').modal('show');"
                  data-request-data="id: {{ id }}"
                  data-attach-loading
                >Yes, Delete</button></div>
                <div class="col"><button class="btn btn-outline-primary w-100" data-bs-dismiss="modal" aria-label="Close">Don't Delete</button></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Deleted -->
{% partial 'modal-delete-success' id=id title='Data successfully deleted' %}
