<div class="container">
    <a class="navbar-brand logo" href="{{ url('/') }}#page-top"><img src="{{ 'assets/images/logo.svg'|theme }}" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i data-feather="menu"></i></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto pe-2">
            {% if not viewBag.isHiddenTopBar and not user %}
                <li class="nav-item"><a class="nav-link p-0" href="#whatis_mabaryuk"><span class="text-white nav-link me-4">What is Talent Hero?</span></a></li>
                <li class="nav-item"><a class="nav-link p-0" href="#"><span class="text-white nav-link me-4">Blog</span></a></li>
            {% endif %}
            {% if user %}
                {% if not user.company_id %}
                    {% if user.last_active_as == 'talent' %}
                    <li class="nav-item"><a class="nav-link p-0" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#become_hero"><span class="text-white nav-link me-4">Become a Hero</span></a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link p-0" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#become_talent_modal"><span class="text-white nav-link me-4">Become a Talent</span></a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link p-0" href="#"><span class="text-white nav-link me-4">Blog</span></a></li>
                    <li class="nav-item"><a class="nav-link p-0" href="{{ url('myaccount/my-cv') }}"><span class="text-white nav-link me-4">My CV</span></a></li>
                    <li class="nav-item"><a class="nav-link p-0" href="{{ url('jobs') }}"><span class="text-white nav-link me-4">Find a Job!</span></a></li>
                    <li class="nav-item">
                        <div class="nav-link btn-user">
                            <div class="thumb-user">
                                {% if user.avatar %}
                                <img src="{{ user.avatar.getThumb(30, 30, {'quality': 80}) }}" alt="">
                                {% else %}
                                <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                                {% endif %}
                            </div>

                            <div class="submenu">
                                <div class="header-submenu">
                                    <div><b>Hello,</b> {{ user.name }}</div>
                                    <span>{{ user.email }}</span>
                                </div>
                                <div class="body-submenu">
                                    <a href="{{ url('myaccount/profile') }}"><img src="{{ 'assets/images/user-icon.svg'|theme }}" alt=""> See My Profile</a>
                                    <a href="{{ url('myaccount/edit-profile') }}"><img src="{{ 'assets/images/edit.svg'|theme }}" alt=""> Edit Profile</a>
                                    <a href="#" data-request="onLogout" data-request-data="redirect: '/'"><img src="{{ 'assets/images/logout.svg'|theme }}" alt=""> Log Out</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link p-0" href="{{ url('mycompany/job/new') }}"><span class="text-white nav-link me-4">Start Hiring!</span></a></li>
                    <li class="nav-item"><a class="nav-link p-0" href="#"><span class="text-white nav-link me-4">Blog</span></a></li>
                    <li class="nav-item"><a class="nav-link p-0" href="{{ url('mycompany/clients') }}"><span class="text-white nav-link me-4">Clients!</span></a></li>
                    <li class="nav-item">
                        <div class="nav-link btn-user">
                            <div class="thumb-user">
                                {% if user.company.avatar %}
                                <img src="{{ user.company.avatar.getThumb(30, 30, {'quality': 80}) }}" alt="">
                                {% else %}
                                <img src="{{ 'assets/images/building.png'|theme }}" alt="">
                                {% endif %}
                            </div>
                            <div class="submenu">
                                <div class="header-submenu">
                                    <div><b>Hello,</b> {{ user.name }}</div>
                                    <span>{{ user.email }}</span>
                                </div>
                                <div class="body-submenu">
                                    <a href="{{ url('mycompany/profile') }}"><img src="{{ 'assets/images/user-icon.svg'|theme }}" alt=""> See My Profile</a>
                                    <a href="{{ url('mycompany/billing-history') }}"><img src="{{ 'assets/images/billing-history.svg'|theme }}" alt=""> Billing</a>
                                    <a href="{{ url('mycompany/edit-profile') }}"><img src="{{ 'assets/images/edit.svg'|theme }}" alt=""> Edit Profile</a>
                                    <a href="#" data-request="onLogout" data-request-data="redirect: '/'"><img src="{{ 'assets/images/logout.svg'|theme }}" alt=""> Log Out</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% else %}
                {% if not viewBag.isHiddenTopBar %}
                <li class="nav-item"><a class="nav-link nl-reg" href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#register_modal">Register</a></li>
                <li class="nav-item"><a class="nav-link me-4" href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#login_modal">Login</a></li>
                <li class="nav-item"><a class="nav-link btn btn-register" href="#">Perusahaan</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
