title = "My Profile - My CV"
url = "/myaccount/my-cv"
layout = "default"

[session]
security = "user"
allowedUserGroups[] = "hero"
redirect = "home"
==
function onEnd() {
    $this['jobId'] = @$_COOKIE['job_id_refer'];
}
==
<section class="dtl-acc pb-0">
    <div class="container py-5">
        {% if jobId %}
        <div class="alert alert-warning text-center p-md-4">
            <p class="mb-0">Congratulations! Your CV is done!</p>
            <span class="desc-alert">Please review your CV, and then you can start referring Talents!</span>
        </div>
        {% endif %}
        <div class="card-cv">
            {% if not jobId %}
            <a href="{{ url('myaccount/update-cv') }}" class="btn btn-yellow btn-edit-cv"><i data-feather="edit"></i> Edit CV</a>
            {% endif %}
            <div class="header-cv">
                <div class="row m-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="thumbnail thumb-cv">
                            {% if user.avatar %}
                            <img src="{{ user.avatar.getPath() }}" alt="">
                            {% else %}
                            <img src="{{ 'assets/images/hero.jpg'|theme }}" alt="">
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-md-8 d-flex justify-content-center flex-column px-md-5">
                        <div class="age-loc">
                            {{ user.age }} Years Old <span class="mx-2">|</span> {{ user.domicile_location }}
                        </div>
                        <div class="fullname">{{ user.name }}</div>
                        <div class="mail-phone">
                            <a href="mailto:{{ user.email }}"><i data-feather="mail"></i>{{ user.email }}</a>
                            <a href="tel:{{ user.phone }}"><i data-feather="phone"></i>{{ user.phone }}</a>
                        </div>
                        <p>{{ user.about }}</p>
                    </div>
                </div>
            </div>
            <div class="body-cv">
                <div class="row m-0">
                    <div class="col-md-4 body-left px-md-5">
                        <div class="title-int">EDUCATION</div>
                        {% for edu in user.educations %}
                        <div class="l-list">
                            <div class="title-list-cv">
                                <div>{{ edu.institution }}</div>
                                <span>({{ edu.grad_year }})</span>
                            </div>
                            <div class="desc-list-cv">{{ edu.major }} - GPA {{ edu.gpa }}</div>
                        </div>
                        {% endfor %}
                        <div class="title-int mt-5">CERTIFICATION</div>
                        {% for cert in user.certificates %}
                        <div class="l-list">
                            <div class="title-list-cv">
                                <div>{{ cert.issuer }}</div>
                                <span>({{ cert.issue_date|date('Y') }})</span>
                            </div>
                            <div class="desc-list-cv">{{ cert.subject }}</div>
                        </div>
                        {% endfor %}
                        <div class="title-int mt-5">LANGUAGE</div>
                        {% for lang_skill in user.lang_skills %}
                        <div class="l-list">
                            <b>{{ lang_skill.ref.name }}</b>
                            <div>{{ lang_skill.level.name }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-8 body-right px-md-5">
                        <div class="title-int">SKILLSET</div>
                        <div class="l-list">
                            {% for skill in user.skills.sortByDesc('ref_prof_skill_level_id') %}
                            {% set cls = '' %}
                            {% if skill.ref_prof_skill_level_id == 4 %}
                                {% set cls = 'expert' %}
                            {% elseif skill.ref_prof_skill_level_id == 3 %}
                                {% set cls = 'mid-level' %}
                            {% elseif skill.ref_prof_skill_level_id == 2 %}
                                {% set cls = 'junior' %}
                            {% endif %}
                            <div class="l-tooltip {{ cls }}">
                                {{ skill.ref.name }}
                                <span class="l-tooltiptext">{{ skill.level.alias }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="title-int mt-5">WORKING EXPERIENCE</div>
                        {% for exp in user.working_exps.sortByDesc('start_period') %}
                        <div class="row">
                            {% set projects = exp.projects.sortByDesc('start_period') %}
                            {% set firstProject = projects.first() %}

                            <div class="col-md-4">
                                <div class="l-list">
                                    <b class="text-darkblue">{{ exp.start_date|date('M Y') }} - {{ exp.end_date|date('M Y') }}</b>
                                    <div class="text-blue">{{ firstProject.name }}</div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="l-list">
                                    <b class="text-darkblue">{{ exp.company_name }}</b>
                                    <div class="text-grey">{{ firstProject.description }}</div>
                                </div>
                            </div>

                            {% for project in projects.skip(1) %}
                            <div class="col-md-4">
                                <div class="l-list">
                                    <div class="text-blue">{{ project.name }}</div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="l-list">
                                    <div class="text-grey">{{ project.description }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if jobId %}
        <div class="row mt-5">
            <div class="col">
                <a href="{{ url('myaccount/update-cv') }}" class="btn btn-outline-secondary w-100 py-2">Back to Edit</a>
            </div>
            <div class="col">
                <a href="{{ url('jobs') }}" class="btn btn-yellow w-100 py-2">Continue Referring Your Friend</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>


<!-- Modal Prized Locked -->
{% partial 'myaccount/modal-price-lock' %}

<!-- Modal Congratulation -->
{% partial 'modal-congratulation' role='Hero' %}
