title = "My Profile"
url = "/myaccount/profile"
layout = "default"

[session]
security = "user"
allowedUserGroups[] = "hero"
redirect = "home"

[heroAccount]
[master]
==
function onEnd()
{
    $this['hero'] = $this->user->load('referrals');
}
==
<!-- <div class="alert-top">Welcome to Talent Hero! Your account has been verified!</div> -->
<section class="dtl-acc">
    <div class="header-full minh-auto-m">
        {% if user.banner %}
        <div class="preview-zone">
            <div class="box box-solid">
                <div class="box-body">
                    <img src="{{ user.banner.getPath() }}" alt="Avatar" />
                </div>
            </div>
        </div>
        {% else %}
        <img src="{{ 'assets/images/bg-talents.jpg'|theme }}" alt="" class="bg-header">
        {% endif %}
        <div class="f-desc pr-m">
            <div class="container">
                <div class="header-dtl">
                    <div class="list-jobs mb-0">
                        <div class="thumbnail thumb-profile">
                            {% if user.avatar %}
                            <img src="{{ user.avatar.getThumb(135, 135, {'quality': 80}) }}" alt="">
                            {% else %}
                            <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                            {% endif %}
                        </div>
                        <div class="d-flex w-100">
                            <div class="desc w-100">
                                <div class="w-100">
                                    <div class="fullname">{{ user.name }}</div>
                                    {% if user.last_active_as == 'talent' %}
                                    <div class="titlename">Job Seeker</div>
                                    {% else %}
                                    <div class="titlename">Rookie Talent Hero</div>
                                    <div class="prostat">
                                        <div class="progress mt-3">
                                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="status">
                                            <span>Find 20 talents to level up!</span>
                                            <span>9/20</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if user.last_active_as == 'talent' %}
            {% set becomeRole = 'Hero' %}
            {% partial 'myaccount/profile-talent' %}
        {% else %}
            {% set becomeRole = 'Talent' %}
            {% partial 'myaccount/profile-hero' %}
        {% endif %}
    </div>
</section>

<!-- Modal Prized Locked -->
{% partial 'myaccount/modal-price-lock' %}

<!-- Modal Congratulation -->
{% partial 'modal-congratulation' role=becomeRole %}
