<form
    data-request="clientEdit::onSave"
    data-request-flash
    data-browser-validate
    action=""
    method="POST"
    enctype="multipart/form-data">
    <div class="group-li mb-3">
        <label for="name">Company Name</label>
        <input type="text" name="name" value="{{ client.name }}" required class="form-control form-th" placeholder="Company Name">
    </div>
    <div class="group-li mb-3">
        <label for="phone">Phone</label> 
        <input type="text" name="phone" value="{{ client.phone }}" class="form-control form-th" placeholder="Phone" value="{{ company.phone }}">
    </div>
    <div class="group-li mb-3">
        <label for="address">Address</label> 
        <textarea class="form-control form-th" rows="4" name="address" placeholder="Address" maxlength="225">{{ client.address }}</textarea>
    </div>
    <div class="group-li mb-3">
        <label for="divisions[]">Divisions</label> 
        <select
            name="divisions[]" 
            id="divisions[]"
            class="form-select form-th custom-select2"
            multiple="multiple"
            required>
            {% for division in master.divisions() %}
            <option value="{{ division.id }}" {% if division.id in client.divisions.pluck('id') %} selected {% endif %}>{{ division.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="group-li mb-3">
        <label for="ref_industry_id">Industry</label> 
        <select
            name="ref_industry_id" 
            id="ref_industry_id"
            class="form-select form-th custom-select2">
            <option value>-- Select an industry --</option>
            {% for industry in master.industries() %}
            <option value="{{ industry.id }}" {% if client.ref_industry_id == industry.id %} selected {% endif %}>{{ industry.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a class="btn btn-outline-secondary w-100 py-2" href="{{ url('mycompany/clients') }}">Cancel</a>
        </div>
        <div class="col">
            <button
                class="btn btn-yellow w-100 py-2"
                data-attach-loading>Save</button>
        </div>
    </div>
</form>