==
function onStart()
{
    $this['job_statuses'] = $this->master->jobStatuses();
}
==
<div class="title-list">Filter</div>
<form action="" id="form-filter"
    data-request="jobPostList::onLoad"
    data-request-form="#form-filter, #form-pagination-{{ status }}"
    data-request-update="'mycompany/job/items': '#nav-{{ status }}'"
>
    <div class="f-search">
        <div class="input-group mb-3">
            <span class="input-group-text bg-white"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control border-start-0" name="keyword" value="{{ filters.keyword }}" placeholder="Search Job">
        </div>
        <a class="btn btn-filter-mb" onclick="myFunction()"><i data-feather="sliders"></i></a>
    </div>
    <div id="desc_filter">
        <div class="accordion mt-5" id="accordionFilter">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Sort By
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFilter">
                <div class="accordion-body">
                    <div class="form-check mb-3">
                        <input class="form-check-input check-job-status" id="newest" type="checkbox" value="newest" name="sort_by" {% if filters.sort_by == 'newest' %} checked {% endif %}>
                        <label class="form-check-label" for="newest">
                            Newest
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input check-job-status" id="oldest" type="checkbox" value="oldest" name="sort_by" {% if filters.sort_by == 'olders' %} checked {% endif %}>
                        <label class="form-check-label" for="oldest">
                            Oldest
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input check-job-status" id="a-z" type="checkbox" value="asc" name="sort_by" {% if filters.sort_by == 'asc' %} checked {% endif %}>
                        <label class="form-check-label" for="a-z">
                            A - Z
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input check-job-status" id="z-a" type="checkbox" value="desc" name="sort_by" {% if filters.sort_by == 'desc' %} checked {% endif %}>
                        <label class="form-check-label" for="z-a">
                            Z - A
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-btn-filter align-items-center">
            <div class="col">
                <button class="btn btn-outline-secondary w-100 btn-reset-ajax btn-sm fs-12 py-2">Reset</button>
            </div>
            <div class="col">
                <input type="hidden" name="status" value="{{ status }}" class="keep-value">
                <button class="btn btn-primary w-100 btn-sm fs-12 py-2" type="submit"
                >Apply Filter</button>
            </div>
        </div>
    </div>
</form>
