<div class="inner-dl benefit-item multiple-select">
    <a href="javascript:void(0);" class="btn btn-dl btn-remove" data-min="1" data-container=".benefit-item"><i data-feather="x"></i></a>
    <select class="form-select form-th custom-select2 select-creatable"
        data-handler="companyAccount::onSearchBenefitTag"
        data-minimum-input-length="2"
        data-ajax--delay="300"
        data-placeholder="What is the benefit of working in Your Company?"
        name="benefits[]"
        >
        {% if value %}
            <option selected value="{{ value }}">{{ text }}</option>
        {% endif %}
    </select>
</div>