<div class="inner-dl culture-item multiple-select">
    <a href="javascript:void(0);" class="btn btn-dl btn-remove" data-min="1" data-container=".culture-item"><i data-feather="x"></i></a>
    <select class="form-select form-th custom-select2 select-creatable"
        data-handler="companyAccount::onSearchCultureTag"
        data-minimum-input-length="2"
        data-ajax--delay="300"
        data-placeholder="What is your work culture?"
        name="cultures[]"
        >
        {% if value %}
            <option selected value="{{ value }}">{{ text }}</option>
        {% endif %}
    </select>
</div>