<div class="modal fade" id="change_password" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h2 class="mb-4">Change Password</h2>
            <form
              id="form-change-password"
              data-request="companyAccount::onChangePassword"
              data-request-success="$('#change_password').modal('hide');$('#password_changed').modal('show');$('#form-change-password').get(0).reset()"
              data-request-flash
              data-browser-validate
            >
                <input type="password" name="old_password" class="form-control form-th px-3 mb-4" placeholder="{{ 'Old Password" required>
                <input type="password" name="password" class="form-control form-th px-3 mb-4" placeholder="{{ 'New Password" required>
                <input type="password" name="password_confirmation" class="form-control form-th px-3 mb-4" placeholder="{{ 'Confirm New Password" required>
                <div class="text-end">
                  <button class="btn btn-yellow-gradient" data-attach-loading>Change</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>