{% set isUnlocked = job.billing.ref_billing_status_id == 3 %}
{% if tab == 'criteria_matched' %}

    {% for candidate in candidates %}
        {% set status = candidate.current_status.name %}
        {% if candidate.current_status.id in [7, 9, 12] %}
            {% set status = 'Not Suitable' %}
            {% set cardCls = 'failed' %}
            {% set textCls = 'text-red' %}
        {% elseif candidate.current_status.id in [11] %}
            {% set status = 'This Talent Accepted!' %}
            {% set cardCls = 'accepted' %}
            {% set textCls = 'text-green' %}
        {% elseif candidate.current_status.id in [2,4,6,8,10] %}
            {% if candidate.current_status.id in [2,4] %}
                {% set status = 'New!' %}
            {% elseif candidate.current_status.id in [6,8] %}
                {% set status = 'This Talent Matches The Criteria!' %}
            {% endif %}
            {% set cardCls = '' %}
            {% set textCls = 'text-blue' %}
        {% else %}
            {% set cardCls = '' %}
            {% set textCls = '' %}
        {% endif %}
        <div class="card list-prof mb-3 {{ cardCls }}">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 d-inline-flex align-items-center">
                        <div class="thumb-jobs">
                            {% if not isUnlocked %}
                                <img src="{{ 'assets/images/locked.svg'|theme }}" alt="" style="max-width: none; max-height: none;">
                            {% else %}
                                {% if candidate.user.avatar %}
                                    <img src="{{ candidate.user.avatar.getThumb(100, 100, {'quality': 80}) }}" alt="">
                                {% else %}
                                    <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                            <div class="pr-prossstat {{ textCls }}">{{ status }}</div>
                            {% if not isUnlocked %}
                            <div class="pr-name">{{ candidate.user.gender_name }} Talent, {{ candidate.user.age|default(0) }}</div>
                            {% else %}
                            <div class="pr-name">{{ candidate.name }}, {{ candidate.user.age|default(0) }}</div>
                            {% endif %}
                            <div class="date text-darkblue font-weight-600">{{ candidate.user.years_exp|default(0) }} Years Experiences</div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-end position-relative" id="actions-container-{{ candidate.id }}">
                        {% partial 'mycompany/job/item-candidate-buttons' candidate=candidate isUnlocked=isUnlocked %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal View CV -->
        {# {% partial 'mycompany/job/modal-view-cv' row=candidate %} #}

        <!-- Modal View CV Unlock -->
        {# {% partial 'mycompany/job/modal-view-cv-unlock' row=candidate %} #}

    {% endfor %}
{% endif %}
{% if tab == 'assessment_done' %}
    {% for candidate in candidates %}
        {% set status = candidate.current_status.name %}
        {% if candidate.current_status.id in [7, 9, 12] %}
            {% set status = 'Not Suitable' %}
            {% set cardCls = 'failed' %}
            {% set textCls = 'text-red' %}
        {% elseif candidate.current_status.id in [11] %}
            {% set status = 'This Talent Accepted!' %}
            {% set cardCls = 'accepted' %}
            {% set textCls = 'text-green' %}
        {% elseif candidate.current_status.id in [2,4,6,8,10] %}
            {% if candidate.current_status.id in [2,4] %}
                {% set status = 'New!' %}
            {% elseif candidate.current_status.id in [6,8] %}
                {% set status = 'This Talent Matches The Criteria!' %}
            {% endif %}
            {% set cardCls = '' %}
            {% set textCls = 'text-blue' %}
        {% else %}
            {% set cardCls = '' %}
            {% set textCls = '' %}
        {% endif %}
        <div class="card list-prof mb-3 {{ cardCls }}">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 d-inline-flex align-items-center">
                        <div class="thumb-jobs">
                            {% if not isUnlocked %}
                                <img src="{{ 'assets/images/locked.svg'|theme }}" alt="" style="max-width: none; max-height: none;">
                            {% else %}
                                {% if candidate.user.avatar %}
                                    <img src="{{ candidate.user.avatar.getThumb(100, 100, {'quality': 80}) }}" alt="">
                                {% else %}
                                    <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                            <div class="pr-prossstat text-blue">{{ status }}</div>
                            {% if not isUnlocked %}
                            <div class="pr-name">{{ candidate.user.gender_name }} Talent, {{ candidate.user.age|default(0) }}</div>
                            {% else %}
                            <div class="pr-name">{{ candidate.name }}, {{ candidate.user.age|default(0) }}</div>
                            {% endif %}
                            <div class="date text-darkblue font-weight-600">{{ candidate.user.years_exp|default(0) }} Years Experiences</div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-end position-relative" id="actions-container-{{ candidate.id }}">
                        {% partial 'mycompany/job/item-candidate-buttons' candidate=candidate isUnlocked=isUnlocked %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal View CV -->
        {# {% partial 'mycompany/job/modal-view-cv' row=candidate %} #}

        <!-- Modal View CV Unlock -->
        {# {% partial 'mycompany/job/modal-view-cv-unlock' row=candidate %} #}
    {% endfor %}
{% endif %}
{% if tab == 'ready_to_interview' %}
    {% for candidate in candidates %}
        {% set status = candidate.current_status.name %}
        {% if candidate.current_status.id in [7, 9, 12] %}
            {% set status = 'Not Suitable' %}
            {% set cardCls = 'failed' %}
            {% set textCls = 'text-red' %}
        {% elseif candidate.current_status.id in [11] %}
            {% set status = 'This Talent Accepted!' %}
            {% set cardCls = 'accepted' %}
            {% set textCls = 'text-green' %}
        {% elseif candidate.current_status.id in [2,4,6,8,10] %}
            {% if candidate.current_status.id in [2,4] %}
                {% set status = 'New!' %}
            {% elseif candidate.current_status.id in [6,8] %}
                {% set status = 'This Talent Matches The Criteria!' %}
            {% endif %}
            {% set cardCls = '' %}
            {% set textCls = 'text-blue' %}
        {% else %}
            {% set cardCls = '' %}
            {% set textCls = '' %}
        {% endif %}
        <div class="card list-prof mb-3 {{ cardCls }}">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 d-inline-flex align-items-center">
                        <div class="thumb-jobs">
                            {% if not isUnlocked %}
                                <img src="{{ 'assets/images/locked.svg'|theme }}" alt="" style="max-width: none; max-height: none;">
                            {% else %}
                                {% if candidate.user.avatar %}
                                    <img src="{{ candidate.user.avatar.getThumb(100, 100, {'quality': 80}) }}" alt="">
                                {% else %}
                                    <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                            <!-- <div class="pr-prossstat text-blue">{{ status }}</div> -->
                            {% if not isUnlocked %}
                            <div class="pr-name">{{ candidate.user.gender_name }} Talent, {{ candidate.user.age|default(0) }}</div>
                            {% else %}
                            <div class="pr-name">{{ candidate.name }}, {{ candidate.user.age|default(0) }}</div>
                            {% endif %}
                            <div class="date text-darkblue font-weight-600">{{ candidate.user.years_exp|default(0) }} Years Experiences</div>
                            <div class="gpa-iq">
                                <ul>
                                    {% if candidate.user.educations is empty %}
                                        <li>GAP <span>0</span></li>
                                    {% else %}
                                        <li>GAP <span>{{candidate.user.educations|last['gpa']}}</span></li>
                                    {% endif %}
                                    <li>IQ <span>{{candidate.assessment.iq_score ?? 0}}</span></li>
                                </ul>
                                <ul>
                                    <li>D <span>{{candidate.assessment.dominance_score ?? 0}}</span></li>
                                    <li>I <span>{{candidate.assessment.influence_score ?? 0}}</span></li>
                                    <li>S <span>{{candidate.assessment.steadiness_score ?? 0}}</span></li>
                                    <li>C <span>{{candidate.assessment.compliance_score ?? 0}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-end position-relative" id="actions-container-{{ candidate.id }}">
                        {% partial 'mycompany/job/item-candidate-buttons' candidate=candidate isUnlocked=isUnlocked %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal View CV -->
        {# {% partial 'mycompany/job/modal-view-cv' row=candidate %} #}

        <!-- Modal View CV Unlock -->
        {# {% partial 'mycompany/job/modal-view-cv-unlock' row=candidate %} #}
    {% endfor %}
{% endif %}

{% if tab == 'not_matched' %}
    {% for candidate in candidates %}
        {% set status = candidate.current_status.name %}
        {% if candidate.current_status.id in [7, 9, 12] %}
            {% set status = 'Not Suitable' %}
            {% set cardCls = 'failed' %}
            {% set textCls = 'text-red' %}
        {% elseif candidate.current_status.id in [11] %}
            {% set status = 'This Talent Accepted!' %}
            {% set cardCls = 'accepted' %}
            {% set textCls = 'text-green' %}
        {% elseif candidate.current_status.id in [2,4,6,8,10] %}
            {% if candidate.current_status.id in [2,4] %}
                {% set status = 'New!' %}
            {% elseif candidate.current_status.id in [6,8] %}
                {% set status = 'This Talent Matches The Criteria!' %}
            {% endif %}
            {% set cardCls = '' %}
            {% set textCls = 'text-blue' %}
        {% else %}
            {% set cardCls = '' %}
            {% set textCls = '' %}
        {% endif %}
        <div class="card list-prof mb-3 not-match {{ cardCls }}">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 d-inline-flex align-items-center">
                        <div class="thumb-jobs">
                            {% if not isUnlocked %}
                                <img src="{{ 'assets/images/locked.svg'|theme }}" alt="" style="max-width: none; max-height: none;">
                            {% else %}
                                {% if candidate.user.avatar %}
                                    <img src="{{ candidate.user.avatar.getThumb(100, 100, {'quality': 80}) }}" alt="">
                                {% else %}
                                    <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                            <!-- <div class="pr-prossstat text-blue">{{ status }}</div> -->
                            {% if not isUnlocked %}
                            <div class="pr-name">{{ candidate.user.gender_name }} Talent, {{ candidate.user.age|default(0) }}</div>
                            {% else %}
                            <div class="pr-name">{{ candidate.name }}, {{ candidate.user.age|default(0) }}</div>
                            {% endif %}
                            <div class="date text-darkblue font-weight-600">{{ candidate.user.years_exp|default(0) }} Years Experiences</div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-end position-relative" id="actions-container-{{ candidate.id }}">
                        <!-- {% partial 'mycompany/job/item-candidate-buttons' candidate=candidate isUnlocked=isUnlocked %} -->
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
<form
    id="form-pagination-{{ tan }}"
    data-request="jobPostList::onLoad"
    data-request-form="#form-filter, #form-pagination-{{ tan }}"
    data-request-update="'mycompany/job/candidate-card': '#nav-{{ tan }}'"
>
    <input type="hidden" name="page" value="{{ page }}">
    <div class="text-center mt-5">
        <nav class="d-inline-block">
            {% partial 'pagination' records=candidates %}
        </nav>
    </div>
</form>
