<div class="inner-dl multiple-select qualification-container">
    <a href="javascript:void(0);" class="btn btn-dl btn-remove" data-min="1" data-container=".qualification-container"><i data-feather="x"></i></a>
    <select class="form-select form-th custom-select2 select-creatable"
        data-handler="jobPostEdit::onSearchQualificationTag"
        data-minimum-input-length="2"
        data-ajax--delay="300"
        name="qualifications[]"
        data-placeholder="Write other Qualification"
        required
        data-error="#error-qualifications"
        >
        {% if value %}
            <option selected value="{{ value }}">{{ text }}</option>
        {% endif %}
    </select>
</div>