<div class="action mt-5 pt-3">
    {# <a href="{{ url('mycompany/job/fullview-cv',{job_id: job.id, user_id: candidate.id}) }}" class="btn btn-primary w-auto px-4">View CV</a> #}
    <a href="candidates/{{ candidate.id }}" class="btn btn-primary w-auto px-4">View CV</a>
    {# {% if not isUnlocked %}
        <a href="#" class="btn btn-primary w-auto px-4" data-bs-toggle="modal" data-bs-target="#view_cv_modal-{{ candidate.id }}">View CV</a>
    {% else %}
        <a href="#" class="btn btn-primary w-auto px-4"
            data-request="candidateList::onView"
            data-request-data="id: {{ candidate.id }}"
            data-request-success="$('#view_cv_unlock_modal-{{ candidate.id }}').modal('show')"
            data-attach-loading
        >View CV</a>
    {% endif %} #}
    {% if candidate.is_marked %}
        {% set type = 0 %}
    {% else %}
        {% set type = 1 %}
    {% endif %}
    <button type="button" class="btn-star btn-mark w-auto {% if candidate.is_marked %} marked {% endif %}"
        data-request="candidateList::onMark"
        data-request-data="id: {{ candidate.id }}, type: {{ type }}"
        data-request-update="'mycompany/job/item-candidate-buttons': '#actions-container-{{ candidate.id }}'"
        data-request-flash
    >
        {% if candidate.is_marked %}
        <span class="checked"><i class="fas fa-star"></i></span>
        {% else %}
        <span title="Mark This Talent"><i class="far fa-star"></i></span>
        {% endif %}
    </button>
</div>
