<div class="modal fade" id="invite_interview_model-{{ candidate.id }}" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="form-login p-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h2 class="mb-4">Invite for Interview</h2>
            <div id="form-interview-{{ candidate.id }}">
              {% partial 'mycompany/job/form-interview' candidate=candidate %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>