<div class="modal fade" id="job_posted" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="form-login p-3 text-center">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <img src="{{ 'assets/images/job-posted.png'|theme }}" alt="" width="85" class="mt-4 mb-3">
              <h2 class="my-3">Job Posted!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>