<div class="modal fade" id="complete_unlock" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="form-login p-3 text-center">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <img src="{{ 'assets/images/key.png'|theme }}" alt="" width="85" class="mt-4">
              <h2 class="my-3">Complete Your Payment To Unlock This Feature</h2>
              <p>To see the full profile please complete your payment. All the payment details has been sent to your email.</p>
          </div>
        </div>
      </div>
    </div>
  </div>