<div class="modal fade" id="invitation_sent" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="form-login p-3 text-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <img src="{{ 'assets/images/envalope.jpg'|theme }}" alt="" width="85" class="mt-4">
                    <h2 class="my-3">Interview Invitation Sended!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
