<div class="modal fade modal-cv" id="modal_cv-{{ candidate.id }}" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="btn-close btn-close-sd" data-bs-dismiss="modal" aria-label="Close"></button>        
        <div class="card-cv">
            <div class="header-cv">
                <div class="row m-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="thumbnail thumb-cv">
                            {% if candidate.avatar %}
                            <img src="{{ candidate.avatar.getPath() }}" alt="">
                            {% else %}
                            <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                            {% endif %}
                        </div>
                        
                    </div>
                    <div class="col-md-8 d-flex justify-content-center flex-column px-md-5">
                        <div class="age-loc">
                            {{ candidate.age }} Years Old <span class="mx-2">|</span> {{ candidate.domicile_location }}
                        </div>
                        <div class="fullname">{{ candidate.name }}</div>
                        <div class="mail-phone">
                            <a href="mailto:{{ candidate.email }}"><i data-feather="mail"></i>{{ candidate.email }}</a>
                            <a href="tel:{{ candidate.phone }}"><i data-feather="phone"></i>{{ candidate.phone }}</a>
                        </div>
                        <p>{{ candidate.about }}</p>
                    </div>
                </div>
            </div>
            <div class="body-cv">
                <div class="row m-0">
                    <div class="col-md-4 body-left px-md-5">
                        <div class="title-int">EDUCATION</div>
                        {% for edu in candidate.educations %}
                        <div class="l-list">
                            <div class="title-list-cv">
                                <div>{{ edu.institution }}</div>
                                <span>({{ edu.grad_year }})</span>
                            </div>
                            <div class="desc-list-cv">{{ edu.major }} - GPA {{ edu.gpa }}</div>
                        </div>
                        {% endfor %}
                        <div class="title-int mt-5">CERTIFICATION</div>
                        {% for cert in candidate.certificates %}
                        <div class="l-list">
                            <div class="title-list-cv">
                                <div>{{ cert.issuer }}</div>
                                <span>({{ cert.issue_date|date('Y') }})</span>
                            </div>
                            <div class="desc-list-cv">{{ cert.subject }}</div>
                        </div>
                        {% endfor %}
                        <div class="title-int mt-5">LANGUAGE</div>
                        {% for lang_skill in candidate.lang_skills %}
                        <div class="l-list">
                            <b>{{ lang_skill.ref.name }}</b>
                            <div>{{ lang_skill.level.name }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-8 body-right px-md-5">
                        <div class="title-int">SKILLSET</div>
                        <div class="l-list">
                            {% for skill in candidate.skills.sortByDesc('ref_prof_skill_level_id') %}
                            {% set cls = '' %}
                            {% if skill.ref_prof_skill_level_id == 4 %}
                                {% set cls = 'expert' %}
                            {% elseif skill.ref_prof_skill_level_id == 3 %}
                                {% set cls = 'mid-level' %}
                            {% elseif skill.ref_prof_skill_level_id == 2 %}
                                {% set cls = 'junior' %}
                            {% endif %}
                            <div class="l-tooltip {{ cls }}">
                                {{ skill.ref.name }}
                                <span class="l-tooltiptext">{{ skill.level.alias }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="title-int mt-5">WORKING EXPERIENCE</div>
                        {% for exp in candidate.working_exps.sortByDesc('start_period') %}
                        <div class="row">
                            {% set projects = exp.projects.sortByDesc('start_period') %}
                            {% set firstProject = projects.first() %}

                            <div class="col-md-4">
                                <div class="l-list">
                                    <b class="text-darkblue">{{ exp.start_date|date('M Y') }} - {{ exp.end_date|date('M Y') }}</b>
                                    <div class="text-blue">{{ firstProject.name }}</div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="l-list">
                                    <b class="text-darkblue">{{ exp.company_name }}</b>
                                    <div class="text-grey">{{ firstProject.description }}</div>
                                </div>
                            </div>

                            {% for project in projects.skip(1) %}
                            <div class="col-md-4">
                                <div class="l-list">
                                    <div class="text-blue">{{ project.name }}</div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="l-list">
                                    <div class="text-grey">{{ project.description }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>