<div class="card p-3 box-shadow">
    <div class="card-body">
        <div class="text-blue font-weight-700 fs-12">Job Title</div>
        <div class="text-bluedark font-weight-700">{{ title }}</div>
        <hr>
        <div class="text-blue font-weight-700 fs-12">People Required</div>
        {% if freshgrad_number and freshgrad_number > 0 %}<div class="text-bluedark fs-15"><b class="font-weight-700 me-2">{{ freshgrad_number }}</b> Fresh Graduate</div>{% endif %}
        {% if junior_number and junior_number > 0 %}<div class="text-bluedark fs-15"><b class="font-weight-700 me-2">{{ junior_number }}</b> Junior</div>{% endif %}
        {% if middle_number and middle_number > 0 %}<div class="text-bluedark fs-15"><b class="font-weight-700 me-2">{{ middle_number }}</b> Middle</div>{% endif %}
        {% if senior_number and senior_number > 0 %}<div class="text-bluedark fs-15"><b class="font-weight-700 me-2">{{ senior_number }}</b> Senior</div>{% endif %}
        <hr>
        <div class="text-blue font-weight-700 fs-12">
            Standard Fee
            <div class="l-tooltip l-tooltip-feather">
                <i data-feather="help-circle"></i>
                <span class="l-tooltiptext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, repellat inventore non quia maxime maiores distinctio, esse, fugit, fugiat perspiciatis expedita doloribus dolor facere voluptatum recusandae quidem dolorum nostrum. Itaque.</span>
            </div>
        </div>
        <div class="text-bluedark font-weight-700">IDR {{ subtotal|number_format(0, ',', '.') }}</div>
        <div class="fs-12">*Money back guarantee if you don't succeed in getting talent</div>
        <hr>
        <!-- <div class="text-blue font-weight-700 fs-12">
            Priority Fee
            <div class="l-tooltip l-tooltip-feather">
                <i data-feather="help-circle"></i>
                <span class="l-tooltiptext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, repellat inventore non quia maxime maiores distinctio, esse, fugit, fugiat perspiciatis expedita doloribus dolor facere voluptatum recusandae quidem dolorum nostrum. Itaque.</span>
            </div>
        </div>
        <div class="text-bluedark font-weight-700">IDR {{ priority_fee|number_format(0, ',', '.') }}</div>
        <div class="fs-12">*Your job posting will be on the top list based on highest priority cost and get more talent</div>
        <hr> -->
        <div class="text-blue font-weight-700 fs-12">Payment Method</div>
        {% for payment in payments %}
        <div class="text-bluedark">
            <b>{{ payment.payment_method_name }}</b> <b>{% if payment.payment_method_id == 1 %} - {{ payment.bank_account.bank_name }} {% endif %}</b>

            {% if payment.bank_account %}
            <span class="d-block fs-14">{{ payment.bank_account.acc_name }} <br>{{ payment.bank_account.acc_number }}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
