<div class="filter-left">
    <div class="title-list">Filter</div>
    <form action="">
        <div class="f-search">
            <div class="input-group mb-3">
                <span class="input-group-text bg-white"><i class="fas fa-search"></i></span>
                <input type="text" name="keyword" value="{{ get('keyword') }}" class="form-control border-start-0" placeholder="Search Job">
            </div>
            <a class="btn btn-filter-mb" onclick="myFunction()"><i data-feather="sliders"></i></a>
        </div>
        <div id="desc_filter">
            <div class="accordion mt-5" id="accordionFilter">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsFilter-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsFilter-collapseOne" aria-expanded="true" aria-controls="panelsFilter-collapseOne">
                        Location
                        </button>
                    </h2>
                    <div id="panelsFilter-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsFilter-headingOne">
                        <div class="accordion-body">
                            <div class="form-check mb-3">
                                <input class="form-check-input check-all" data-siblings=".check-location" {% if get('locations')|length == 7 %} checked {% endif %} type="checkbox" value="" id="all_location">
                                <label class="form-check-label" for="all_location">
                                All Location
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input check-location" name="locations[]" {% if 'jabodetabek' in get('locations') %} checked {% endif %} type="checkbox" value="jabodetabek" id="jabodetabek">
                                <label class="form-check-label" for="jabodetabek">
                                Jabodetabek
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input check-location" name="locations[]" {% if '31' in get('locations') %} checked {% endif %} type="checkbox" value="31" id="dki-jakarta">
                                <label class="form-check-label" for="dki-jakarta">
                                DKI Jakarta
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input check-location" name="locations[]" {% if '32' in get('locations') %} checked {% endif %} type="checkbox" value="32" id="bandung">
                                <label class="form-check-label" for="bandung">
                                Bandung
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input check-location" name="locations[]" {% if '34' in get('locations') %} checked {% endif %} type="checkbox" value="34" id="yogyakarta">
                                <label class="form-check-label" for="yogyakarta">
                                Yogyakarta
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input check-location" name="locations[]" {% if '35' in get('locations') %} checked {% endif %} type="checkbox" value="35" id="surabaya">
                                <label class="form-check-label" for="surabaya">
                                Surabaya
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input check-location" name="locations[]" {% if '51' in get('locations') %} checked {% endif %} type="checkbox" value="51" id="bali">
                                <label class="form-check-label" for="bali">
                                Bali
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input check-location" name="locations[]" {% if 'others' in get('locations') %} checked {% endif %} type="checkbox" value="others" id="others">
                                <label class="form-check-label d-flex" for="others">
                                Others:
                                <input type="text" placeholder="write something" class="other-filter" name="location_others" value="{{ get('location_others') }}">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item hide">
                    <h2 class="accordion-header" id="panelsFilter-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsFilter-collapseTwo" aria-expanded="false" aria-controls="panelsFilter-collapseTwo">
                        Category
                        </button>
                    </h2>
                    <div id="panelsFilter-collapseTwo" class="accordion-collapse collapse {% if get('categories')|length %} show {% endif %}" aria-labelledby="panelsFilter-headingTwo">
                        <div class="accordion-body">
                            <div class="form-check mb-3">
                                <input class="form-check-input check-all" data-siblings=".check-category" {% if get('categories')|length == job_categories.count() %} checked {% endif %} type="checkbox" value="" id="all_category">
                                <label class="form-check-label" for="all_category">
                                All Category
                                </label>
                            </div>
                            {% for category in job_categories %}
                            <div class="form-check mb-3">
                                <input class="form-check-input check-category" name="categories[]" {% if category.id in get('categories') %} checked {% endif %} type="checkbox" value="{{ category.id }}" id="">
                                <label class="form-check-label" for="">
                                {{ category.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-btn-filter align-items-center">
                <div class="col">
                    <button class="btn btn-outline-secondary w-100 reset-form btn-sm fs-12 py-2" type="button">Reset</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary w-100 btn-sm fs-12 py-2">Apply Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("desc_filter");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>
