<!-- Modal Jobs -->
<div class="modal fade" id="refer_answer_modal-{{ job.id }}" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row m-0">
            <div class="col-md-12 p-4 p-20-m">
                <div class="form-login p-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h2>{{ job.title }}</h2>
                    <form
                        data-request="jobAction::onAnswerRefer"
                        data-request-update="'jobs/modal-refer-friend': '#refer-friend-{{ job.id }}'"
                        data-request-success="referModal({{ job.id }},'answer')"
                        data-request-flash
                        data-browser-validate
                        action=""
                        id="formReferAnswer" >
                      <input type="hidden" name="job_id" value="{{ job.id }}">
                      <div class="input_talent_answer">
                        {% partial 'jobs/input-talent-answer' talent=talent %}
                      </div>
                      <input type="hidden" name="token" id="formReferAnswerToken">
                      <input type="hidden" name="action" id="formReferAnswerAction">
                      <p>Please complete the following question to continue</p>
                      <h6 class="fs-18"><b>Hubungan Anda dengan Talent</b></h6>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-relate-input" data-req="#relate_collagues" name="relate" type="checkbox" value="collagues" id="collagues">
                                <label class="form-check-label font-weight-500" for="collagues">
                                    Collagues
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-relate-input" data-req="#relate_family" name="relate" type="checkbox" value="family" id="family">
                                <label class="form-check-label font-weight-500" for="family">
                                    Family
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                          <div class="group-li mb-3">
                              <input class="form-check-input check-relate-input" data-req="#relate_friend" name="relate" type="checkbox" value="friend" id="friend">
                              <label class="form-check-label font-weight-500" for="friend">
                                  Friend
                              </label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="group-li mb-3">
                              <input class="form-check-input check-relate-input" data-req="#relate_student" name="relate" type="checkbox" value="student" id="student">
                              <label class="form-check-label font-weight-500" for="student">
                                  Student
                              </label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="group-li mb-3">
                              <input class="form-check-input check-relate-input" data-req="#relate_others" name="relate" type="checkbox" value="others" id="others">
                              <label class="form-check-label font-weight-500" for="others">
                                  Others
                              </label>
                          </div>
                        </div>
                      </div>
                      <h6 class="fs-18"><b>Berapa lama Anda menjadi rekan kerja Talent</b></h6>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-years-input" data-req="#years_under_one" name="years" type="checkbox" value="under_one" id="under_one">
                                <label class="form-check-label font-weight-500" for="under_one">
                                    < 1 year
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-years-input" data-req="#years_one_to_two" name="years" type="checkbox" value="one_to_two" id="one_to_two">
                                <label class="form-check-label font-weight-500" for="one_to_two">
                                    1 - 2 years
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-years-input" data-req="#years_two_to_three" name="years" type="checkbox" value="two_to_three" id="two_to_three">
                                <label class="form-check-label font-weight-500" for="two_to_three">
                                    2 - 3 years
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-years-input" data-req="#years_three_to_four" name="years" type="checkbox" value="three_to_four" id="three_to_four">
                                <label class="form-check-label font-weight-500" for="three_to_four">
                                    3 - 4 years
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-years-input" data-req="#years_more_five" name="years" type="checkbox" value="more_five" id="more_five">
                                <label class="form-check-label font-weight-500" for="more_five">
                                    > 5 years
                                </label>
                            </div>
                        </div>
                      </div>
                      <h6 class="fs-18"><b>3 alasan Anda merekomendasikan Talent ini?</b></h6>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-reasons-input" data-req="#reasons_good_attitude" name="reasons[]" type="checkbox" value="good_attitude" id="good_attitude">
                                <label class="form-check-label font-weight-500" for="good_attitude">
                                    Have a good attitude
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-reasons-input" data-req="#reasons_hard_worker" name="reasons[]" type="checkbox" value="hard_worker" id="hard_worker">
                                <label class="form-check-label font-weight-500" for="hard_worker">
                                    Hard Worker
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-reasons-input" data-req="#reasons_fast_learner" name="reasons[]" type="checkbox" value="fast_learner" id="fast_learner">
                                <label class="form-check-label font-weight-500" for="fast_learner">
                                    Fast Learner
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-reasons-input" data-req="#reasons_communication" name="reasons[]" type="checkbox" value="communication" id="communication">
                                <label class="form-check-label font-weight-500" for="communication">
                                    Good Communication Skill
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-reasons-input" data-req="#reasons_under_pressure" name="reasons[]" type="checkbox" value="under_pressure" id="under_pressure">
                                <label class="form-check-label font-weight-500" for="under_pressure">
                                    Able to Work Under Pressure
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-reasons-input" data-req="#reasons_critical_thinking" name="reasons[]" type="checkbox" value="critical_thinking" id="critical_thinking">
                                <label class="form-check-label font-weight-500" for="critical_thinking">
                                    Critical Thinking
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-li mb-3">
                                <input class="form-check-input check-reasons-input" data-req="#reasons_discipline" name="reasons[]" type="checkbox" value="discipline" id="discipline">
                                <label class="form-check-label font-weight-500" for="discipline">
                                    Discipline & Good Time Management
                                </label>
                            </div>
                        </div>
                      </div>
                      <div class="text-end">
                            {% if not user %}
                                <button class="btn btn-yellow" type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#login_modal">Send</button>
                            {% else %}
                                <button type="submit" data-attach-loading id="btnSubmitReferAnswer" class="btn btn-yellow">Send</button>
                            {% endif %}
                      </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
