<div class="modal fade" id="job_applied_modal" tabindex="-1" aria-labelledby="registerLabel" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="form-login p-3 text-center">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <img src="{{ 'assets/images/job-posted2.png'|theme }}" alt="" width="135" class="mt-4 mb-3">
              <h2 class="my-3">Job Applied!</h2>
              <p>We will notify you once your CV is processed</p>
              <a href="#" class="btn btn-outline-primary fs-14 px-5 px-20-m" data-bs-dismiss="modal">You Can Close Your Tab Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
