<!-- Modal Jobs -->
<div class="modal fade" id="refer_friend_modal-{{ job.id }}" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered {% if talents%}modal-xl{%else%}{%endif%}">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row m-0">
            <div class="{% if talents%}col-md-6{%else%}col-md-12{%endif%} p-4 p-20-m">
                <div class="form-login p-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h2>{{ job.title }}</h2>
                    <p>Recommend your friend!</p>
                    <form
                        data-request="jobAction::onRefer"
                        data-request-update="{'jobs/input-talent-answer': '.input_talent_answer'}"
                        data-request-success="referModal({{ job.id }},'friend')"
                        data-request-flash
                        data-browser-validate
                        action=""
                        id="formReferFriend" >
                        <input type="hidden" name="job_id" value="{{ job.id }}">
                        <input type="hidden" name="token" id="formReferFriendToken">
                        <input type="hidden" name="action" id="formReferFriendAction">

                        <div class="input-group mb-4">
                            <span class="input-group-text"><i class="far fa-user-circle"></i></span>
                            <input type="text" name="name" required class="form-control form-th nameInput" placeholder="Your Friend's Name">
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text"><i class="far fa-envelope"></i></span>
                            <input type="email" name="email" required class="form-control form-th emailInput" id="emailInput" placeholder="Your Friend's Email">
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                            <input type="text" name="phone" required class="form-control form-th phoneInput" id="phoneInput" placeholder="Your Friend's Phone Number">
                        </div>
                        <div class="text-end">
                            {% if not user %}
                                <button class="btn btn-yellow" type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#login_modal">Send</button>
                            {% else %}
                                <button type="submit" data-attach-loading id="btnSubmitReferFriend" class="btn btn-yellow">Send</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            {% if talents %}
            <div class="col-md-6 p-4 col-talent">
                <div class="talents-add">
                    <div class="title"><span>Referred Talents</span></div>
                    <div id="list-referral-{{ job.id }}">
                    {% for talent in talents %}
                      {% partial 'jobs/referral' talent=talent %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>
