<div class="list-talent">
    <div class="row">
        <div class="col d-flex align-items-center">
            <div>
                <div class="name">{{ talent.name }}</div>
                <div class="email">{{ talent.email }}</div>
            </div>
        </div>
        <div class="col-auto text-end d-flex align-items-center">
            <div>
                <div class="stat">Status</div>
                <div class="stat-pro">{{ talent.current_status.name }}</div>
            </div>
        </div>
    </div>
</div>