<div class="modal fade" id="become_hero" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="form-login p-3">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="d-flex mb-4">
                <img src="{{ 'assets/images/become-hero.svg'|theme }}" alt="" width="42">
                <h2 class="my-3 ms-4">Become a Hero!</h2>
              </div>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed voluptua. At vero eos et accusam</p>
              <div class="row mt-4">
                <div class="col"><a href="#" class="btn btn-outline-primary w-100" data-bs-dismiss="modal" aria-label="Close">Maybe Later</a></div>
                <div class="col"><a href="#" class="btn btn-yellow w-100" 
                  data-request="heroAccount::onSwitchUser"
                  data-request-success="$('#become_hero').modal('hide');$('#congratulation').modal('show');"
                  data-request-data="type: 'hero'"
                  data-attach-loading
                  >Become a Hero</a></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>