<div class="modal fade" id="price_lock" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="form-login p-3">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <h2 class="my-3 text-start">Prized Locked</h2>
              <p>Your talent haven't uploaded their work contract. You can only claim your money after the contract has uploaded</p>
          </div>
        </div>
      </div>
    </div>
  </div>