<h5 class="text-darkblue mb-3"><b>Contact</b> <a href="{{ url('myaccount/update-cv') }}">edit</a></h5>
<ul class="fs-14">
    <li class="mb-3"><span class="text-blue"><b>Email</b></span><br> {{ user.email }}</li>
    <li><span class="text-blue"><b>Phone</b></span><br> {{ user.phone }}</li>
</ul>
<hr class="my-4">
<h5 class="text-darkblue mb-3"><b>About This Candidate</b> <a href="{{ url('myaccount/update-cv') }}">edit</a></h5>
<p>{{ user.about }}</p>

<hr class="my-4">
<h5 class="text-darkblue mb-3"><b>Formal Education</b> <a href="{{ url('myaccount/update-cv') }}">edit</a></h5>
<ul class="fs-14">
    {% for edu in user.educations %}
    <li><span class="text-blue"><b>{{ edu.ref_education.name }} - {{ edu.institution }} (Graduated {{ edu.grad_year }})</b></span><br>{{ edu.major }} - GPA {{ edu.gpa }}</li>
    {% endfor %}
</ul>

<hr class="my-4">
<h5 class="text-darkblue mb-3"><b>Non-Formal Education</b> <a href="{{ url('myaccount/update-cv') }}">edit</a></h5>
<ul class="fs-14">
    {% for nonformal in user.nonformal_educations %}
    <li><span class="text-blue"><b>{{ nonformal.name }} ({{ nonformal.start_period|date('d/m/Y') }} - {{ nonformal.end_period|date('d/m/Y')}})</b></span><br>{{ nonformal.institution }}</li>
    {% endfor %}
</ul>

<hr class="my-4">
<h5 class="text-darkblue mb-3"><b>Working Experience</b> <a href="{{ url('myaccount/update-cv') }}">edit</a></h5>
{% for exp in user.working_exps %}
<p class="text-blue"><b>{{ exp.company_name }} | {{ exp.position }} ({{ exp.start_period|date('Y') }}-{{ exp.end_period|date('Y') }})</b></p>
<p>{{ exp.description }}</p>
{% if exp.projects %}
    {% for project in exp.projects %}
    <ul class="fs-14">
        <li><b><i>{{ project.name }} ({{ project.start_period|date('Y') }}-{{ project.end_period|date('Y') }})</i></b><br>{{ project.description }}</li>
    </ul>
    {% endfor %}
{% endif %}
{% endfor %}

<hr class="my-4">
<h5 class="text-darkblue mb-3"><b>Skillsets</b> <a href="{{ url('myaccount/update-cv') }}">edit</a></h5>
<ul class="fs-14">
    {% for skill in user.skills %}
    <li>{{ skill.ref.name }} ({{ skill.level.name }})</li>
    {% endfor %}
</ul>
<hr class="my-4">
<h5 class="text-darkblue mb-3"><b>Certificate</b> <a href="{{ url('myaccount/update-cv') }}">edit</a></h5>
<ul class="fs-14">
    {% for cert in user.certificates %}
    <li class="mb-3"><span class="text-blue"><b>{{ cert.subject }}</b> 
        {% if cert.doc %}
        <a href="{{ cert.doc.getPath() }}" target="_blank">(view certificate)</a>
        {% endif %}
    </span>
        {% if cert.serial_number %}<br>Serial Number: {{ cert.serial_number }} {% endif %}
        {% if cert.issuer %}<br>Issuer: {{ cert.issuer }} {% endif %}
        {% if cert.issue_date %}<br>Issue Date: {{ cert.issue_date|date('d/m/Y') }} {% endif %}
    </li>
    {% endfor %}
</ul>
<hr class="my-4">
<h5 class="text-darkblue mb-3"><b>Languanges</b> <a href="{{ url('myaccount/update-cv') }}">edit</a></h5>
<ul class="fs-14">
    {% for lang_skill in user.lang_skills %}
    <li>{{ lang_skill.ref.name }} ({{ lang_skill.level.name }})</li>
    {% endfor %}
</ul>