[userTalent]

==
<div class="row my-5 mt-30-sm mb-30-m">
    <div class="col-sm-4">
        <div class="retata">
            <div class="d-flex">
                <img src="{{ 'assets/images/reward.svg'|theme }}" alt="" width="70">
                <div class="d-flex align-items-center ms-3">
                    <div class="price">
                        <span>Reward Received</span>
                        <h5>Rp. 0</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="retata">
            <div class="d-flex">
                <img src="{{ 'assets/images/talent-refered.svg'|theme }}" alt="" width="70">
                <div class="d-flex align-items-center ms-3">
                    <div class="price">
                        <span>Talent Refered</span>
                        <h5>{{ hero.referrals.count|default(0) }} Talents</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="retata">
            <div class="d-flex">
                <img src="{{ 'assets/images/talent-succeeded.svg'|theme }}" alt="" width="70">
                <div class="d-flex align-items-center ms-3">
                    <div class="price">
                        <span>Talent Succeeded</span>
                        <h5>0 Talents</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 pe-5 pe-md-12">
        <div class="title-list">Filter</div>
        {% partial 'myaccount/filter-referral' positions=job_positions %}
    </div>
    <div class="col-lg-9 col-listjobs mt-30-m">
        <div class="title-list">Referred Talents</div>
            {% if talents.total == 0 %}
                <div class="not-referred">
                    <h5>You don't have any referred Talent</h5>
                    <img src="{{ 'assets/images/not-referred.jpg'|theme }}" alt="" width="150">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                    <a href="{{ url('/jobs') }}" class="btn btn-yellow px-5">Refer a Job!</a>
                </div>
            {% else %}
            {% for referral in talents %}
                {% if referral.current_status.id in [3, 5, 7, 9, 12] %}
                    {% set cardCls = 'failed' %}
                    {% set textCls = 'text-red' %}
                {% elseif referral.current_status.id in [11] %}
                    {% set cardCls = 'accepted' %}
                    {% set textCls = 'text-green' %}
                {% elseif referral.current_status.id in [2,4,6,8,10] %}
                    {% set cardCls = '' %}
                    {% set textCls = 'text-blue' %}
                {% else %}
                    {% set cardCls = '' %}
                    {% set textCls = '' %}
                {% endif %}
                <div class="card list-prof mb-3 {{ cardCls }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7 col-sm-6">
                                <div class="pr-prossstat {{ textCls }}">{{ referral.current_status.name }}</div>
                                <div class="pr-name">{{ referral.name }}</div>
                                <hr>
                                <div class="d-flex fs-12">
                                    <div class="category">{{ referral.job.title }}</div> <span class="mx-1">|</span> 
                                    <a href="{{ url('companies/' ~ referral.job.company.slug) }}" target="_blank">{{ referral.job.company.name }}</a>
                                </div>
                                <div class="date"><i>Referred on {{ referral.created_at|date('j F Y') }}</i></div>
                            </div>
                            <div class="col-5 col-sm-6 text-end align-items-end d-flex flex-column justify-content-center">
                                <div class="potential">Potential Earning</div>
                                <div class="price">Rp. {{ referral.hero_pe|number_format(0, ',', '.') }}</div>
                                <div class="action mt-2">
                                    {% if referral.current_status.id in [11] %}
                                        <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#price_lock" class="btn btn-yellow w-auto">Claim</a>
                                    {% elseif referral.current_status.id in [11] %} <!-- temporary -->
                                        <a href="#" class="btn btn-yellow w-auto claimed">Claimed</a>
                                    {% else %}
                                        <a href="#" class="btn btn-yellow w-auto" disabled>Claim</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="text-center">
            {% partial 'pagination' records=talents %}
        </div>
    </div>
</div>