<!-- Modal Jobs -->
<div class="modal fade modal-company" id="company_modal-{{ job.id }}" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content bg-none">
      <div class="modal-body p-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="row m-0">
            <div class="col-md-6 p-0">
              <div class="left-sec">
                <div class="list-jobs lg-modal br-0">
                    <div class="desc w-100">
                        <div class="pr-prossstat {{ statusCls }}">{{ status }}</div>
                        <div class="pr-name">{{ job.title }}</div>
                        <div class="fl">
                            <span>{{ company.name }}</span>
                            <span>{{ company.location }}</span>
                        </div>
                    </div>
                </div>
                <div class="desc-list lg-modal br-0">
                  {%if job.is_display_salary > 0 %}
                  <p><b>Salary</b></p>
                    {%if job.min_salary == job.max_salary%}
                    <p>Rp. {{ job.max_salary|number_format(0, ',', '.') }}</p>
                    {%else%}
                    <p>Rp. {{ job.min_salary|number_format(0, ',', '.') }} - {{ job.max_salary|number_format(0, ',', '.') }}</p>
                    {%endif%}
                  <hr>
                  {%endif%}
                  <p><b>Descriptions</b></p>
                  <p>{{ job.description|raw }}</p>
                  <!-- <p><b>Requirements</b></p>
                  <ul>
                    {% for qualify in job.qualifications %}
                    <li>{{ qualify.name }}</li>
                    {% endfor %}
                  </ul> -->
                  <div>
                      <a href="#" class="see-company" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#company_modal-{{ job.id }}">
                          <span>See Company's Detail</span>
                          <i class="arrow"></i>
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-4 col-company">
              <div class="list-jobs br-0 border-0 py-0 mb-5 mt-3">
                <div class="thumb"><i class="fas fa-briefcase"></i></div>
                <div class="desc w-100">
                    <div class="title">{{ company.name }}</div>
                    <div class="fl">
                        <span class="p-0">{{ company.location }}</span>
                    </div>
                </div>
              </div>
              <h5><b>About The Company</b></h5>
              <p>{{ company.about }}</p>
              <hr class="my-4">
              <h5><b>Benefits</b></h5>
              <ul class="fs-14">
                {% for benefit in company.benefits %}
                <li>{{ benefit.name }}</li>
                {% endfor %}
              </ul>
              <hr class="my-4">
              <h5><b>Work Culture</b></h5>
              <ul class="fs-14">
                {% for culture in company.cultures %}
                <li>{{ culture.name }}</li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>