title = "Complete Company Profile"
url = "mycompany/company-profile"
layout = "default"

[companyAccount]
[master]
[session]
security = "user"
allowedUserGroups[] = "admin_company"
redirect = "home"
==

<section class="page-noh">
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-md-10 col-lg-8">
                <form
                    id="form-cv"
                    data-request="companyAccount::onUpdate"
                    data-request-flash
                    data-request-files
                    data-browser-validate
                    enctype="multipart/form-data"
                >
                    <!-- Step 1 -->
                    <div class="deposit-form container-steps" id="step1">
                        <div class="mb-5">
                            <div class="status">
                                <span>Before You Start, Please Fill This Form</span>
                                <span>1/2</span>
                            </div>
                            <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="title-list mb-4">Company Profile</div>
                        <div class="group-li">
                            <div class="change-pp change-pp-cv dropzone-box">
                                <div class="view-box">
                                    <div class="preview-zone {% if not company.avatar %} hide {% endif %} ">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <img src="{{ company.avatar.getThumb(100, 100, {'quality': 80}) }}" alt="Avatar" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropzone-wrapper {% if company.avatar %} d-none {% endif %}">
                                    <div class="dropzone-desc">
                                        <div class="text-start">
                                            <span><i data-feather="upload"></i> {{ 'Upload Your Logo</span>
                                            <p>Clear background Company logo with JPEG or PNG format maximum 2mb</p>
                                        </div>
                                    </div>
                                    <input type="file" name="avatar" class="dropzone" accept="image/*">
                                </div>
                                <div class="dropzone-action {% if not company.avatar %} d-none {% endif %}">
                                    <span class="text-darkblue"><i data-feather="check-circle"></i> {{ 'Photo Uploaded</span>
                                    <div class="d-inline-flex mt-3">
                                        <a href="#" onclick="$('.dropzone').click()" class="btn btn-outline-primary btn-sm me-2 fs-14">Change Photo</a>
                                        <a href="javascript:void(0);" class="btn btn-outline-danger  btn-sm  fs-14 remove-preview">Delete Photo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-li mb-3">
                            <label for="">Company's Name</label>
                            <input type="text" name="name" value="{{ company.name }}" required class="form-control form-th" placeholder="Your Company's Name">
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <div class="group-li mb-3">
                                    <label for="ref_country_id">Country</label> 
                                    <select
                                        name="ref_country_id"
                                        class="form-select form-th mb-3 custom-select2"
                                        placeholder="Choose Country"
                                        onchange="loadProvince(this)"
                                        required
                                        >
                                        <option value="">Choose Country</option>
                                        {% for country in master.countries %}
                                            <option value="{{ country.id }}" {% if company.ref_country_id == country.id %} selected {% endif %}>{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md" id="container_province">
                                <div class="group-li mb-3">
                                    <label for="province_code">City</label> 
                                    <select
                                        name="province_code"
                                        class="form-select form-th mb-3 custom-select2"
                                        >
                                        <option value="">Choose City</option>
                                        {% for province in master.provinces %}
                                            <option value="{{ province.code }}" {% if company.province_code == province.code %} selected {% endif %}>{{ province.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="group-li">
                            <label for="">About Your Company</label>
                            <textarea class="form-control form-th input-count" data-count="#about_count" rows="4" placeholder="Tell us about your Company" name="about" maxlength="240">{{ company.about }}</textarea>
                        </div>
                        <div class="text-end">
                            <span class="forgot-pass" id="about_count">{{ company.about|length }}/240</span>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="group-li">
                                    <label for="">Phone Number</label>
                                    <label class="form-date form-phone">
                                        <span>+62</span>
                                        <input type="text" name="phone" required value="{{ company.phone }}" class="form-control form-th" placeholder="Your Company's Number">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group-li">
                                    <label for="">Your Company's 2nd Number</label>
                                    <label class="form-date form-phone">
                                        <span>+62</span>
                                        <input type="text" name="phone2" value="{{ company.phone2 }}" class="form-control form-th" placeholder="Your Company's 2nd Number">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="group-li mb-3">
                            <label for="">Address</label>
                            <textarea class="form-control form-th input-count" required rows="4" placeholder="Your Company's Address" name="address" maxlength="240">{{ company.address }}</textarea>
                        </div>
                        <div class="group-li mb-3">
                            <label for="">Industry</label>
                            <select
                                name="ref_industry_id" 
                                id="ref_industry_id"
                                class="form-select form-th custom-select2">
                                <option value>Your Company's Industry Type</option>
                                {% for industry in master.industries() %}
                                <option value="{{ industry.id }}" {% if company.ref_industry_id == industry.id %} selected {% endif %}>{{ industry.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <a href="#" class="btn btn-primary w-100 py-2 btn-next" data-next="#step2">Next</a>
                            </div>
                        </div>
                    </div>

                    <!-- Step 2 -->
                    <div class="deposit-form container-steps hide" id="step2">
                        <div class="mb-5">
                            <div class="status">
                                <span>Last Step!</span>
                                <span>2/2</span>
                            </div>
                            <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="title-list mb-4">Benefits & Work Culture</div>
                        <div class="group-li">
                            <label for="benefits">Benefits</label> 
                            <div id="benefits-container" class="multiple-select-content">
                                {% if not company.benefits %}
                                    {% partial 'mycompany/form-item-benefit' %}
                                {% else %}
                                    {% for item in company.benefits %}
                                    {% partial 'mycompany/form-item-benefit' text=item.name value=item.id %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="text-end mb-1">
                            <a href="#"
                                data-request="companyAccount::onAddItem"
                                data-request-update="'mycompany/form-item-benefit': '@#benefits-container'"
                                data-request-success="refreshEle()"
                                class="forgot-pass">+add more benefit</a>
                        </div>
                        <div class="group-li">
                            <label for="workCulture">Work Culture</label>
                            <div id="cultures-container" class="multiple-select-content">
                                {% if not company.cultures %}
                                    {% partial 'mycompany/form-item-culture' %}
                                {% else %}
                                    {% for item in company.cultures %}
                                    {% partial 'mycompany/form-item-culture' text=item.name value=item.id %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="text-end mb-1">
                            <a href="#"
                                data-request="companyAccount::onAddItem"
                                data-request-update="'mycompany/form-item-culture': '@#cultures-container'"
                                data-request-success="refreshEle()"
                                class="forgot-pass">+add more culture</a>
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 py-2 btn-prev" data-prev="#step1">Back</button>
                            </div>
                            <div class="col">
                                <input type="hidden" name="company_only" value="1">
                                <button type="submit" data-attach-loading class="btn btn-yellow w-100 py-2">Save</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<!-- Add Scripts -->
{% put scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        loadProvince($('[name=ref_country_id]'));
    });

    loadProvince = (ele) => {
        $('#container_province').addClass('hide');
        if (ele && $(ele).val() == 101) { //indonesia
            $('#container_province').removeClass('hide');
        }
    }
</script>
{% endput %}
