title = "My Profile"
url = "/mycompany/profile"
layout = "default"

[session]
security = "user"
allowedUserGroups[] = "admin_company"
redirect = "home"

[companyAccount]
[jobPostList]
[jobPostAction]
[master]
==
function onEnd() {
    $this->page->tabs = [
        "published" => "Jobs Posted",
        "draft" => "Draft",
        "unpublished" => "Unpublished",
        "success" => "Success"
    ];
}
==
<section class="dtl-acc">
    <div class="header-full minh-auto-m">
        {% if company.banner %}
        <div class="preview-zone">
            <div class="box box-solid">
                <div class="box-body">
                    <img src="{{ company.banner.getPath() }}" alt="Avatar" />
                </div>
            </div>
        </div>
        {% else %}
        <img src="{{ 'assets/images/bg-talents.jpg'|theme }}" alt="" class="bg-header">
        {% endif %}
        <div class="f-desc pr-m">
            <div class="container">
                <div class="header-dtl">
                    <div class="list-jobs mb-0">
                        <div class="thumbnail thumb-profile">
                            {% if company.avatar %}
                            <img src="{{ company.avatar.getThumb(135, 135, {'quality': 80}) }}" alt="">
                            {% else %}
                            <img src="{{ 'assets/images/building.png'|theme }}" alt="">
                            {% endif %}
                        </div>

                        <div class="d-flex w-100">
                            <div class="desc w-100">
                                <div class="w-100">
                                    <div class="fullname">{{ company.name }}</div>
                                    <div class="titlename opacity-50">{{ company.location }}</div>
                                    <div class="activity">
                                        <div class="list-act">
                                            <span>{{ company.jobs_count|default(0) }}</span>
                                            Job Posted
                                        </div>
                                        <div class="list-act">
                                            <span>{{ company.applicants_count|default(0) }}</span>
                                            Applied
                                        </div>
                                        <div class="list-act">
                                            <span>{{ company.interviews_count|default(0) }}</span>
                                            Interviewed
                                        </div>
                                    </div>
                                    <div class="h-gpa-iq">
                                        <ul>
                                            <li class="px-0">
                                                <img src="{{ 'assets/images/wallet.svg'|theme }}" alt="" class="me-2 ms-1">
                                                Deposite
                                                <span class="text-darkblue font-weight-700 fs-22">IDR 295.000.000</span>
                                                <a href="#" class="btn btn-green px-3 font-weight-500 py-2 fs-12 ms-3">Refund</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="find-jobs">
                                    <a href="{{ url('mycompany/job/new') }}" class="btn btn-yellow w-100">
                                        <div>
                                            <i data-feather="briefcase" class="d-none-m"></i>
                                            <div class="fs-14 mt-2 mt-0-m fs-12-m">Post New Job</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3 pe-5 pe-md-12" id="filter-box">
                {% partial 'mycompany/filter' status=status %}
            </div>
            <div class="col-lg-9 col-listjobs mt-30-m">
                <div class="title-list">Your Job Openings</div>
                <nav>
                    <div class="nav nav-tabs tabs-th tabs-profile" id="nav-tab" role="tablist">
                        {% for tab, tabName in this.page.tabs %}
                        <button
                            class="nav-link {% if loop.first %} active {% endif %}"
                            id="nav-{{ tab }}-tab"
                            data-request="jobPostList::onLoad"
                            data-request-form="#form-filter, #form-pagination-{{ tab }}"
                            data-request-update="'mycompany/job/items': '#nav-{{ tab }}', 'mycompany/filter': '#filter-box'"
                            data-request-success="refreshEle();"
                            data-attach-loading
                            onclick="$('#form-filter [name=status]').val('{{ tab }}');"
                            data-bs-toggle="tab"
                            data-bs-target="#nav-{{ tab }}"
                            type="button"
                            role="tab"
                            aria-controls="nav-{{ tab }}"
                            aria-selected="true">{{ tabName }} ({{ attribute(_context, tab ~ '_count') |default(0) }})</button>
                        {% endfor %}
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    {% for tab, tabName in this.page.tabs %}
                    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="nav-{{ tab }}" role="tabpanel" aria-labelledby="nav-{{ tab }}-tab">
                        {% partial 'mycompany/job/items' jobs=jobs status=tab %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Congratulation -->
{% partial 'modal-congratulation' %}

<!-- Modal Add New Jobs -->
{% partial 'modal-new-jobs' %}

<!-- Modal Add New Jobs -->
{% partial 'modal-payment-confirmation' %}

<!-- Modal Add New Jobs -->
{% partial 'modal-payment-request-sent' %}

<!-- Modal Job Posted -->
{% partial 'mycompany/job/modal-job-posted2' %}

<!-- Modal Republish Success -->
{% partial 'mycompany/job/modal-republish-success' %}

{% put scripts %}
<script src="{{ 'assets/modules/company/list-job.js'|theme }}"></script>
{% endput %}
