<table cellspacing="0" cellpadding="5" border="0" width="100%">
    <tr>
        <th>Job Title</th>
        <th class="text-center">Required</th>
        <th class="text-end">Deposit</th>
        <th class="text-end">Refund Fee</th>
        <th class="text-end">Refundable</th>
        <th class="text-end">Status</th>
    </tr>
    <tr>
        <td>Senior Full-Stack Rails Developer</td>
        <td class="text-center">3 Person</td>
        <td class="text-center">IDR 9.000.000</td>
        <td class="text-center">IDR 300.000</td>
        <td class="text-end"><h5>IDR 9.300.000</h5></td>
        <td class="text-end"><i class="fas fa-check-circle"></i></td>
    </tr>
    <tr>
        <td>Senior Full-Stack Rails Developer</td>
        <td class="text-center">3 Person</td>
        <td class="text-center">IDR 9.000.000</td>
        <td class="text-center">IDR 300.000</td>
        <td class="text-end"><h5>IDR 9.300.000</h5></td>
        <td class="text-end"><i class="fas fa-check-circle"></i></td>
    </tr>
    <tr>
        <td>Senior Full-Stack Rails Developer</td>
        <td class="text-center">3 Person</td>
        <td class="text-center">IDR 9.000.000</td>
        <td class="text-center">IDR 300.000</td>
        <td class="text-end"><h5>IDR 9.300.000</h5></td>
        <td class="text-end"><i class="fas fa-check-circle"></i></td>
    </tr>
    <tr>
        <td>Senior Full-Stack Rails Developer</td>
        <td class="text-center">3 Person</td>
        <td class="text-center">IDR 9.000.000</td>
        <td class="text-center">IDR 300.000</td>
        <td class="text-end"><h5>IDR 9.300.000</h5></td>
        <td class="text-end"><i class="fas fa-check-circle"></i></td>
    </tr>
    <tr>
        <td>Senior Full-Stack Rails Developer</td>
        <td class="text-center">3 Person</td>
        <td class="text-center">IDR 9.000.000</td>
        <td class="text-center">IDR 300.000</td>
        <td class="text-end"><h5>IDR 9.300.000</h5></td>
        <td class="text-end"><i class="fas fa-check-circle"></i></td>
    </tr>
</table>
